{{Extend "layout"}}
{{Block "title"}}{{"绑定两步验证"|$.T}}{{/Block}}
{{Block "breadcrumb"}}
{{Super}}
<li>{{"绑定两步验证"|$.T}}</li>
{{/Block}}

{{Block "bodyNav"}}
{{Include "user/body_nav"}}
{{/Block}}

{{Block "main"}}
<div class="row">
  <div class="col-md-12">
    <div class="block-flat">
      <div class="header">
        <h3>{{"绑定两步验证"|$.T}}</h3>
      </div>
      <div class="content">
        {{- if $.Stored.binded -}}
        <div class="alert alert-info alert-white rounded">
          <!-- <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> -->
          <div class="icon"><i class="fa fa-info"></i></div>
          {{$.T "您已经绑定成功。"}}
        </div>
          {{- if eq ($.Query `operation`) `modify` -}}
          {{Include "gauth/partial/modify"}}
          {{- else -}}
          {{Include "gauth/partial/unbind"}}
          {{- end -}}
        {{- else -}}
          {{Include "gauth/partial/bind"}}
        {{- end -}}
      </div><!-- /.content -->
    </div><!-- /.block-flat -->
  </div>
</div>
{{/Block}}

{{Block "footer"}}
{{/Block}}