<!-- Fixed navbar -->
  <div id="head-nav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="fa fa-gear"></span>
        </button>
        <a class="navbar-brand" href="#"><span>Nging</span></a>
      </div>
      <div class="navbar-collapse collapse">
        {{Include "topnav"}}
        {{/*Include "donation"*/}}
        <ul class="nav navbar-nav navbar-right user-nav">
          <li class="dropdown profile_menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img alt="Avatar" src="__ASSETS__/images/user_30.png" />{{Username}} <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/gauth_bind">{{"两步验证"|T}}</a></li>
              <!--<li><a href="#">Profile</a></li>
              <li><a href="#">Messages</a></li>
              <li class="divider"></li>-->
              <li><a href="/logout">{{"退出登录"|T}}</a></li>
            </ul>
          </li>
        </ul>			
        {{/*Include "topnotice"*/}}

      </div><!--/.nav-collapse -->
    </div>
  </div>