{{Extend "base"}}
{{Block "description"}}{{"Nging管理面板登录"|T}}{{/Block}}
{{Block "title"}}{{"Nging管理面板登录"|T}}{{/Block}}
{{Block "head"}}
<style>
#captchaImage{height:40px;cursor:pointer}
</style>
{{/Block}}
{{Block "bodyAttr"}} class="texture"{{/Block}}
{{Block "main"}}
<div id="cl-wrapper" class="login-container">

	<div class="middle-login">
		<div class="block-flat">
			<div class="header">							
				<h3 class="text-center"><img class="logo-img" src="__ASSETS__/images/logo.png" alt="logo"/>{{"Nging服务器管理"|T}}</h3>
			</div> 
			<div>
				<form style="margin-bottom: 0px !important;" class="form-horizontal" action="/login" method="POST">
					<div class="content">
						<h4 class="title">{{"账号登录"|T}}</h4>
						<div class="form-group">
							<div class="col-sm-12">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user"></i></span>
									<input type="text" placeholder="{{"用户名"|T}}" value="{{Form "user"}}" name="user" required="required" class="form-control">
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock"></i></span>
									<input type="password" placeholder="{{"密码"|T}}" value="{{Form "pass"}}" name="pass" required="required" class="form-control">
								</div>
							</div>
						</div>
							
						<div class="form-group">
							<div class="col-sm-12">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa  fa-picture-o"></i></span>
									<input type="text" placeholder="{{"验证码"|T}}" value="{{Form "code"}}" name="code" required="required" class="form-control">
									<span class="input-group-addon no-padding">{{CaptchaForm}}</span>
								</div>
							</div>
						</div>
					</div>
					<div class="foot">
						<input type="hidden" name="return_to" value="{{Form "return_to"}}">
						<button class="btn btn-default" data-dismiss="modal" type="button">{{"注册"|T}}</button>
						<button class="btn btn-primary" data-dismiss="modal" type="submit">{{"登录"|T}}</button>
					</div>
				</form>
			</div>
		</div>
		<div class="text-center out-links">
			<a href="https://github.com/admpub/nging" target="_blank">&copy; {{Now.Year}} Nging</a>
		</div>
	</div> 
	
</div>
{{/Block}}
{{Block "footer"}}
<script type="text/javascript" src="__ASSETS__/js/behaviour/general.js"></script>
<script type="text/javascript" src="__ASSETS__/js/jquery.gritter/js/jquery.gritter.js"></script>
<script>
{{if .}}
App.message({title: '{{"系统消息"|T}}', text: "{{.}}"});
{{end}}
</script>
{{/Block}}
