<!DOCTYPE html>
<html lang="{{Lang}}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{"Caddy服务器管理面板登录"|T}}">
	<meta name="author" content="admpub">
	<link rel="shortcut icon" href="__ASSETS__/images/favicon.png">

	<title>{{"登录"|T}}</title>
	<link href='__ASSETS__/css/font_OpenSans400_300_600_400italic_700_800.css' rel='stylesheet' type='text/css'>
	<link href='__ASSETS__/css/font_Raleway_300_200_100.css' rel='stylesheet' type='text/css'>

	<!-- Bootstrap core CSS -->
	<link href="__ASSETS__/js/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
	
	<link rel="stylesheet" href="__ASSETS__/js/jquery.gritter/css/jquery.gritter.css" />
	<link rel="stylesheet" href="__ASSETS__/fonts/font-awesome-4/css/font-awesome.min.css">

	<!-- Custom styles for this template -->
	<link href="__ASSETS__/css/style.css" rel="stylesheet" />	

</head>
 
<body class="texture">

<div id="cl-wrapper" class="login-container">

	<div class="middle-login">
		<div class="block-flat">
			<div class="header">							
				<h3 class="text-center"><img class="logo-img" src="__ASSETS__/images/logo.png" alt="logo"/>{{"Caddy服务器管理"|T}}</h3>
			</div> 
			<div>
				<form style="margin-bottom: 0px !important;" class="form-horizontal" action="/login" method="POST">
					<div class="content">
						<h4 class="title">{{"账号登录"|T}}</h4>
						<div class="form-group">
							<div class="col-sm-12">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user"></i></span>
									<input type="text" placeholder="{{"用户名"|T}}" value="{{Form "user"}}" name="user" class="form-control">
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock"></i></span>
									<input type="password" placeholder="{{"密码"|T}}" value="{{Form "pass"}}" name="pass" class="form-control">
								</div>
							</div>
						</div>
							
					</div>
					<div class="foot">
						<input type="hidden" name="return_to" value="{{Form "return_to"}}">
						<button class="btn btn-default" data-dismiss="modal" type="button">{{"注册"|T}}</button>
						<button class="btn btn-primary" data-dismiss="modal" type="submit">{{"登录"|T}}</button>
					</div>
				</form>
			</div>
		</div>
		<div class="text-center out-links">
			<a href="https://github.com/admpub/caddyui" target="_blank">&copy; {{Now.Year}} CaddyUI</a>
		</div>
	</div> 
	
</div>

<script src="__ASSETS__/js/jquery.js"></script>
<script type="text/javascript" src="__ASSETS__/js/behaviour/general.js"></script>

<script type="text/javascript" src="__ASSETS__/js/jquery.gritter/js/jquery.gritter.js"></script>

<script>
{{if .}}
	 $.gritter.add({
        title: '{{"系统消息"|T}}',
        text: "{{.}}",
        image: '',
        class_name: 'clean',
        sticky: true,
      });
{{end}}
</script>

<script src="__ASSETS__/js/behaviour/voice-commands.js"></script>
<script src="__ASSETS__/js/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
