{{Extend "base"}}
{{Block "description"}}{{"Nging账号注册"|T}}{{/Block}}
{{Block "title"}}{{"Nging账号注册"|T}}{{/Block}}
{{Block "head"}}
<style>
#captchaImage{height:40px;cursor:pointer}
</style>
{{/Block}}
{{Block "bodyAttr"}} class="texture"{{/Block}}
{{Block "main"}}
<div id="cl-wrapper" class="sign-up-container">
	<div class="middle-sign-up">
		<div class="block-flat">
			<div class="header">
				<h3 class="text-center"><img class="logo-img" src="__ASSETS__/images/logo.png" alt="logo"/> {{"Nging账号注册"|T}}</h3>
			</div>
			<div>
				<form style="margin-bottom: 0px !important;" class="form-horizontal" action="" parsley-validate novalidate method="POST">
					<div class="content">
							<div class="form-group">
								<div class="col-sm-12">
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-code"></i></span>
										<input type="text" name="invitationCode" parsley-trigger="change" parsley-error-container="#invitationCode-error" required placeholder="{{"邀请码"|T}}" class="form-control" autocomplete="off" value="{{Form "invitationCode"}}">
									</div>
                                    <div id="invitationCode-error"></div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-user"></i></span>
										<input type="text" name="username" parsley-trigger="change" parsley-error-container="#username-error" required placeholder="{{"用户名"|T}}" class="form-control" autocomplete="off" value="{{Form "username"}}">
									</div>
                                    <div id="username-error"></div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
										<input type="email" name="email" parsley-trigger="change" parsley-error-container="#email-error" required placeholder="E-mail" class="form-control" autocomplete="off" value="{{Form "email"}}">
									</div>
                                    <div id="email-error"></div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-6 col-xs-6">
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-lock"></i></span>
										<input id="pass1" type="password" name="password" parsley-error-container="#password-error" placeholder="{{"密码"|T}}" required class="form-control" autocomplete="off" value="{{Form "password"}}">
									</div>
                                    <div id="password-error"></div>
								</div>
								<div class="col-sm-6 col-xs-6">
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-lock"></i></span>
										<input parsley-equalto="#pass1" type="password" parsley-error-container="#confirmation-error" name="confirmationPassword" required placeholder="{{"确认密码"|T}}" class="form-control" autocomplete="off" value="{{Form "confirmationPassword"}}">
									</div>
                                    <div id="confirmation-error"></div>
								</div>
							</div>
             <!--<p class="spacer">By creating an account, you agree with the <a href="#">Terms</a> and <a href="#">Conditions</a>.</p>-->
            <button class="btn btn-block btn-success btn-rad btn-lg" type="submit">{{"注册"|T}}</button>
            <p class="text-center">Or</p>
            <a class="btn btn-block btn-default btn-rad btn-lg" href="/login">{{"登录"|T}}</a>
					</div>
			  </form>
			</div>
		</div>
		<div class="text-center out-links"><a href="https://github.com/admpub/nging" target="_blank">&copy; {{Now.Year}} Nging</a></div>
	</div>

</div>
{{/Block}}
{{Block "footer"}}
<script type="text/javascript" src="__ASSETS__/js/jquery.parsley/i18n/messages.{{(Replace Lang "-" "_" -1)|ToLower}}.js" charset="utf-8"></script>
<script type="text/javascript" src="__ASSETS__/js/jquery.parsley/parsley.js"></script>
<script type="text/javascript" src="__ASSETS__/js/behaviour/general.js"></script>
<script type="text/javascript" src="__ASSETS__/js/jquery.gritter/js/jquery.gritter.js"></script>
<script>
{{if .}}
App.message({title: '{{"系统消息"|T}}', text: "{{.}}"});
{{end}}
</script>
{{/Block}}
