<div class="cl-sidebar">
			<div class="cl-toggle"><i class="fa fa-bars"></i></div>
			<div class="cl-navblock">
        <div class="menu-space">
          <div class="content">
            <div class="side-user">
              <div class="avatar"><img src="__ASSETS__/images/avatar1_50.jpg" alt="Avatar" /></div>
              <div class="info">
                <a href="#">{{Username}}</a>
                <img src="__ASSETS__/images/state_online.png" alt="Status" /> <span>Online</span>
              </div>
            </div>
            <ul class="cl-vnavigation">
              <li><a href="#"><i class="fa fa-table"></i><span>{{"主机管理"|T}}</span></a>
                <ul class="sub-menu">
                  <li><a href="/manage">{{"主机列表"|T}}</a></li>
                  <li><a href="/manage/vhost_add"><span class="label label-primary pull-right">New</span>{{"添加主机"|T}}</a></li>
                </ul>
              </li>
              <li><a href="#"><i class="fa fa-map-marker nav-icon"></i><span>{{"组件管理"}}</span></a>
                <ul class="sub-menu">
                  <li><a href="maps.html">Google Maps</a></li>
                  <li><a href="vector-maps.html"><span class="label label-primary pull-right">New</span>Vector Maps</a></li>
                </ul>
              </li>
              <li><a href="typography.html"><i class="fa fa-text-height"></i><span>Typography</span></a></li>
            </ul>
          </div>
        </div>
        <div class="text-right collapse-button" style="padding:7px 9px;">
          <input type="text" class="form-control search" placeholder="Search..." />
          <button id="sidebar-collapse" class="btn btn-default" style=""><i style="color:#fff;" class="fa fa-angle-left"></i></button>
        </div>
			</div>
		</div>