<div class="cl-sidebar">
			<div class="cl-toggle"><i class="fa fa-bars"></i></div>
			<div class="cl-navblock">
        <div class="menu-space">
          <div class="content">
            <div class="side-user">
              <div class="avatar"><img src="__ASSETS__/images/user_50.png" alt="Avatar" /></div>
              <div class="info">
                <a href="#">{{Username}}</a>
                <img src="__ASSETS__/images/state_online.png" alt="Status" /> <span>Online</span>
              </div>
            </div>
            <ul class="cl-vnavigation">
              <li><a href="#"><i class="fa fa-sitemap nav-icon"></i><span>{{"网站管理"|T}}</span></a>
                <ul class="sub-menu">
                  <li><a href="/manage" data-pjax="#main-container">{{"网站列表"|T}}</a></li>
                  <li><a href="/manage/vhost_add" data-pjax="#main-container">
                  <span class="label label-primary pull-right">New</span>{{"添加网站"|T}}
                  </a></li>
                </ul>
              </li>
              <li><a href="#"><i class="fa fa-desktop nav-icon"></i><span>{{"服务器"|T}}</span></a>
                <ul class="sub-menu">
                  <li><a href="/manage/sysinfo" data-pjax="#main-container">{{"服务器信息"|T}}</a></li>
                  <li><a href="/manage/netstat" data-pjax="#main-container">{{"网络端口"|T}}</a></li>
                  <li><a href="/manage/cmd" data-pjax="#main-container">{{"执行命令"|T}}</a></li>
                  <li><a href="/manage/service" data-pjax="#main-container">{{"服务管理"|T}}</a></li>
                </ul>
              </li>
              <li><a href="#"><i class="fa fa-users nav-icon"></i><span>{{"FTP账号"|T}}</span></a>
                <ul class="sub-menu">
                  <li><a href="/ftp/account" data-pjax="#main-container">{{"账号管理"|T}}</a></li>
                  <li><a href="/ftp/account_add" data-pjax="#main-container">
                  <span class="label label-primary pull-right">New</span>
                  {{"添加账号"|T}}</a></li>
                  <li><a href="/ftp/group" data-pjax="#main-container">{{"用户组"|T}}</a></li>
                  <li><a href="/ftp/group_add" data-pjax="#main-container">
                  <span class="label label-primary pull-right">New</span>
                  {{"添加用户组"|T}}</a></li>
                </ul>
              </li>
              <!--<li><a href="#"><i class="fa fa-truck nav-icon"></i><span>{{"数据采集"|T}}</span></a>
                <ul class="sub-menu">
                  <li><a href="/collector/task" data-pjax="#main-container">{{"采集任务"|T}}</a></li>
                  <li><a href="/collector/rule" data-pjax="#main-container">{{"规则管理"|T}}</a></li>
                  <li><a href="/collector/rule_add" data-pjax="#main-container"><span class="label label-primary pull-right">New</span>{{"新建规则"|T}}</a></li>
                </ul>
              </li>-->
              <li><a href="#"><i class="fa fa-clock-o nav-icon"></i><span>{{"计划任务"|T}}</span></a>
                <ul class="sub-menu">
                  <li><a href="/task/index" data-pjax="#main-container">{{"任务管理"|T}}</a></li>
                  <li><a href="/task/add" data-pjax="#main-container"><span class="label label-primary pull-right">New</span>{{"新建任务"|T}}</a></li>
                  <li><a href="/task/group" data-pjax="#main-container">{{"分组管理"|T}}</a></li>
                  <li><a href="/task/group_add" data-pjax="#main-container"><span class="label label-primary pull-right">New</span>{{"添加分组"|T}}</a></li>
                  <li><a href="/task/email_test" data-pjax="#main-container">{{"测试邮件"|T}}</a></li>
                </ul>
              </li>
              <li><a href="#"><i class="fa fa-download nav-icon"></i><span>{{"离线下载"|T}}</span></a>
                <ul class="sub-menu">
                  <li><a href="/download/" data-pjax="#main-container" data-keepjs="true">{{"下载管理"|T}}</a></li>
                  <li><a href="/download/file" data-pjax="#main-container" data-keepjs="true">{{"文件管理"|T}}</a></li>
                </ul>
              </li>
              <li>
                <a href="/db" data-pjax="#main-container"><i class="fa fa-table"></i><span>{{"数据库"|T}}</span></a>
              </li>
              <li>
                <a href="javascript:;" data-ajax-url="/manage/clear_cache">
                  <i class="fa fa-trash-o"></i><span>{{"清理缓存"|T}}</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="text-right collapse-button" style="padding:7px 9px;">
          <input type="text" class="form-control search" placeholder="Search..." />
          <button id="sidebar-collapse" class="btn btn-default"><i style="color:#fff;" class="fa fa-angle-left"></i></button>
        </div>
			</div>
		</div>