        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Nging</a></li>
          <li><a href="https://github.com/admpub/nging" target="_blank">{{"程序源码"|T}}</a></li>
          <li><a href="https://github.com/admpub/nging/issues/new" target="_blank">{{"Bug反馈"|T}}</a></li>
          <!-- 
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{"其它产品"|T}} <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="http://www.webx.top/product/coscms" target="_blank">COSCMS</a></li>
              <li><a href="http://www.webx.top/product/adsystem" target="_blank">{{"广告系统"|T}}</a></li>
              <li class="dropdown-submenu"><a href="#">{{"第三方产品"|T}}</a>
                <ul class="dropdown-menu">
                  <li><a href="#" target="_blank">Product</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{"赞助商"|T}} <b class="caret"></b></a>
            <ul class="dropdown-menu col-menu-2">
              <li class="col-sm-6 no-padding">
                <ul>
                <li class="dropdown-header"><i class="fa fa-group"></i>Users</li>
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="dropdown-header"><i class="fa fa-gear"></i>Config</li>
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li> 
                </ul>
              </li>
              <li  class="col-sm-6 no-padding">
                <ul>
                <li class="dropdown-header"><i class="fa fa-legal"></i>Sales</li>
                <li><a href="#">New sale</a></li>
                <li><a href="#">Register a product</a></li>
                <li><a href="#">Register a client</a></li> 
                <li><a href="#">Month sales</a></li>
                <li><a href="#">Delivered orders</a></li>
                </ul>
              </li>
            </ul>
          </li> -->
          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{"赞助我们"|T}} <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/public/donation/alipay.jpg" target="_blank">{{"支付宝付款"|T}}</a></li>
              <li><a href="/public/donation/wechat_pay.png" target="_blank">{{"微信付款"|T}}</a></li>
              <li><a href="/donation" target="_blank">{{"赞助比特币"|T}}</a></li>
            </ul>
          </li>
				  <li class="dropdown">
				  	<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{"Languages"|T}} <b class="caret"></b></a>
				  	<ul class="dropdown-menu">
				  		{{range $k, $v := Languages}}
				  		<li{{if eq $v Lang}} class="active"{{end}}>
				  			<a href="?lang={{$v}}">{{$v}}</a>
				  		</li>
				  		{{end}}
				  	</ul>
				  </li>
        </ul>