        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contact <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="dropdown-submenu"><a href="#">Sub menu</a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                </ul>
              </li>              
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Large menu <b class="caret"></b></a>
            <ul class="dropdown-menu col-menu-2">
              <li class="col-sm-6 no-padding">
                <ul>
                <li class="dropdown-header"><i class="fa fa-group"></i>Users</li>
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="dropdown-header"><i class="fa fa-gear"></i>Config</li>
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li> 
                </ul>
              </li>
              <li  class="col-sm-6 no-padding">
                <ul>
                <li class="dropdown-header"><i class="fa fa-legal"></i>Sales</li>
                <li><a href="#">New sale</a></li>
                <li><a href="#">Register a product</a></li>
                <li><a href="#">Register a client</a></li> 
                <li><a href="#">Month sales</a></li>
                <li><a href="#">Delivered orders</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>