{{Strip}}{{$dialog := Stored.dialog}}
{{$multiple := Stored.multiple}}
<div class="row">
	<div class="col-md-12">
		<div class="block-flat sm-margin-bottom">
			<form class="form-horizontal" action="" id="search-form" method="GET">
				{{- if Stored.dialog -}}
				<input type="hidden" name="multiple" value="{{if $multiple}}1{{else}}0{{end}}" />
				<input type="hidden" name="from" value="{{Form `from`}}" />
				<input type="hidden" name="callback" value="{{Form `callback`}}" />
				{{- end -}}
			<div class="row no-margin">
				<div class="form-group col-sm-3 no-margin xs-margin-top no-padding">
				<div class="input-group no-margin-bottom">
					<span class="input-group-addon">{{"上传时间"|T}}</span>
					<input type="text" id="timerange" class="form-control" name="timerange" value="{{Form `timerange`}}">
				</div>
				</div>
				<div class="form-group col-sm-3 no-margin xs-margin-top no-padding">
				<div class="input-group no-margin-bottom">
					<span class="input-group-addon no-padding no-border"><select name="ownerType" class="form-control" id="ownerType" onchange="ownerTypeChange(this)" style="width:100px">
						<option value="">-{{"用户类型"|T}}-</option>
						{{$ownerType := Form "ownerType"}}
						<option value="user" {{if eq $ownerType `user`}} selected{{end}}>{{`后台用户`|T}}</option>
						<option value="customer" {{if eq $ownerType `customer`}} selected{{end}}>{{`前台客户`|T}}</option>
					</select></span>
					<input name="ownerId" class="form-control" id="ownerId" onchange="$('#search-form').submit()" placeholder="{{`用户ID`|T}}" value="{{Form `ownerId`}}">
				</div>
				</div>
				<div class="form-group col-sm-2 no-margin xs-margin-top no-padding">
				<div class="input-group no-margin-bottom">
					<span class="input-group-addon">{{"内容类型"|T}}</span>
					<select name="table" class="form-control" id="table" onchange="$('#search-form').submit()">
						<option value="">-{{"不限"|T}}-</option>
						{{$table := Form "table"}} 
						{{range $k, $v := Stored.tableNames}}
						<option value="{{$k}}" {{if eq $table $k}} selected{{end}}>{{$v.String}}</option>
						{{end}}
					</select>
				</div>
				</div>
				{{- if not $dialog -}}
				<div class="form-group col-sm-2 no-margin xs-margin-top no-padding">
				<div class="input-group no-margin-bottom">
					<span class="input-group-addon">{{"文件类型"|T}}</span>
					<select name="type" class="form-control" id="type" onchange="$('#search-form').submit()">
						<option value="">-{{"不限"|T}}-</option>
						{{$type := Stored.fileType}} 
						{{range $k, $v := Stored.fileTypes}}
						<option value="{{$k.String}}" {{if eq $type $k.String}} selected{{end}}>{{$k.String}}</option>
						{{end}}
					</select>
				</div>
				</div>
				{{- end -}}
				<div class="form-group col-sm-2 no-margin xs-margin-top no-padding">
				<div class="input-group no-margin-bottom">
					<span class="input-group-addon">{{"使用状态"|T}}</span>
					<select name="used" class="form-control" id="used" onchange="$('#search-form').submit()">
						<option value="">-{{"不限"|T}}-</option>
						{{$used := Form "used"}} 
						<option value="0" {{if eq $used `0`}} selected{{end}}>{{`未使用`|T}}</option>
						<option value="1" {{if eq $used `1`}} selected{{end}}>{{`已使用`|T}}</option>
					</select>
				</div>
				</div>
			</div><!-- .row -->
			</form>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="block-flat">
			<div class="header">
				<span class="pull-right">
					<input type="file" multiple="true" id="input-file-upload" style="width:95px" />
				</span>
				{{- if not $dialog -}}
				<a href="javascript:;" class="btn btn-danger pull-right" onclick="App.removeSelected('input:checkbox[name=\'id[]\']','id','__BACKEND__/manager/file/delete/0');">
					<i class="fa fa-trash-o"></i>
					{{"删除选中"|T}}
				</a>
				<h3>{{"附件管理"|T}}</h3>
				{{- else -}}
				<a href="javascript:;" class="btn btn-success pull-right" onclick="applySelected();">
					<i class="fa fa-check"></i>
					{{"选择附件"|T}}
				</a>
				<h3>{{"选择附件"|T}}</h3>
				{{- end -}}
			</div>
			<div class="content">
				<!-- <div class="table-responsive" id="previewTableContainer"></div> -->
				<div id="table-container">
				{{Include "manager/file/list.main.content"}}
				</div>
			</div>
		</div>				
	</div>
</div>
{{/Strip}}