{{$config := Stored.base}}
<div class="form-group">
    <label class="col-sm-2 control-label">{{"网站名称"|T}}</label>
    <div class="col-sm-3">
        <input type="text" class="form-control" name="base[siteName][value]" value="{{$config.siteName.Value}}" placeholder="{{"网站名称"|T}}" />
    </div>
    <label class="col-sm-2 control-label">{{"前台网址"|T}}</label>
    <div class="col-sm-3">
        <input type="url" class="form-control" name="base[siteURL][value]" value="{{$config.siteURL.Value}}" placeholder="{{"http://"|T}}" />
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">{{"信件验证码有效期"|T}}</label>
    <div class="col-sm-3">
        <div class="input-group no-margin-bottom">
        <input type="number" class="form-control" name="base[verifyCodeLifetime][value]" value="{{$config.verifyCodeLifetime.Value}}" placeholder="5" step="1" min="0" />
        <span class="input-group-addon">{{"分钟"|T}}</span>
        </div>
        <div class="help-block">{{"短信/邮件验证码的有效期"|T}}</div>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">{{"网站状态"|T}}</label>
    <div class="col-sm-3">
        {{$siteClose := $config.siteClose.Value | Default "0"}}
        <span class="radio radio-primary radio-inline">
            <input type="radio" name="base[siteClose][value]" value="0"{{if eq $siteClose "0"}} checked{{end}} id="db-siteClose-0">
            <label for="db-siteClose-0">{{"开启网站"|T}}</label>
        </span>
        <span class="radio radio-primary radio-inline">
            <input type="radio" name="base[siteClose][value]" value="1"{{if eq $siteClose "1"}} checked{{end}} id="db-siteClose-1">
            <label for="db-siteClose-1">{{"关闭网站"|T}}</label>
        </span>
    </div>
    <label class="col-sm-2 control-label">{{"ICP备案号"|T}}</label>
    <div class="col-sm-3">
        <input type="text" class="form-control" name="base[siteICPFiling][value]" value="{{$config.siteICPFiling.Value}}" placeholder="{{"粤ICP备12345678号-3"|T}}" />
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">{{"站点公告"|T}}</label>
    <div class="col-sm-10">
        
        {{$showAnnouncement := $config.showAnnouncement.Value | Default "0"}}
        <span class="radio radio-primary radio-inline">
            <input type="radio" name="base[showAnnouncement][value]" value="1"{{if eq $showAnnouncement "1"}} checked{{end}} id="db-showAnnouncement-1">
            <label for="db-showAnnouncement-1">{{"显示公告"|T}}</label>
        </span>
        <span class="radio radio-primary radio-inline">
            <input type="radio" name="base[showAnnouncement][value]" value="0"{{if eq $showAnnouncement "0"}} checked{{end}} id="db-showAnnouncement-0">
            <label for="db-showAnnouncement-0">{{"不显示公告"|T}}</label>
        </span>

        {{$unixtime:=UnixTime}}
        <textarea class="summernote" name="base[siteAnnouncement][value]" action="__BACKEND__/manager/upload/siteAnnouncement?refid=1&time={{$unixtime}}&token={{Token "refid" 1 "time" $unixtime}}" placeholder="{{"站点公告"|T}}">{{$config.siteAnnouncement.Value}}</textarea>
    </div>
</div>