{{$config := Stored.payment}}
<div class="form-group">
    <label class="col-sm-2 control-label">{{"支付宝"|T}}</label>
    <div class="col-sm-8">
        <div class="fieldset bg-fc">
            <div class="form-group">
                <label class="col-sm-2 control-label">{{"状态"|T}}</label>
                <div class="col-sm-9">
                    <div class="radio radio-success radio-inline">
                        <input type="radio" value="N" name="payment[alipay][disabled]" id="payment-alipay-disabled-N"{{if eq $config.alipay.Disabled "N"}} checked{{end}}> <label for="payment-alipay-disabled-N">{{"启用"|T}}</label>
                    </div>
                    <div class="radio radio-danger radio-inline">
                        <input type="radio" value="Y" name="payment[alipay][disabled]" id="payment-alipay-disabled-Y"{{if eq $config.alipay.Disabled "Y"}} checked{{end}}> <label for="payment-alipay-disabled-Y">{{"禁用"|T}}</label>
                    </div>
                </div>
            </div><!-- form-group -->
            <div class="form-group">
                <label class="col-sm-2 control-label">App ID</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="payment[alipay][value][appID]" value="{{$config.alipay.ValueObject.AppID}}">
                </div>
            </div><!-- form-group -->
            <div class="form-group">
                <label class="col-sm-2 control-label">App Secret</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="payment[alipay][value][appSecret]" value="{{$config.alipay.ValueObject.AppSecret}}">
                </div>
            </div><!-- form-group -->
            <div class="form-group">
                <label class="col-sm-2 control-label">{{"图标类名"|T}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="payment[alipay][value][options][iconClass]" value="{{$config.alipay.ValueObject.Options.iconClass}}">
                    <div class="help-block">{{"例如: "|T}}<code>iconfont icon-zhifubao1</code></div>
                </div>
            </div><!-- form-group -->
            <div class="form-group">
                <label class="col-sm-2 control-label">{{"支付标题"|T}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="payment[alipay][value][options][title]" value="{{$config.alipay.ValueObject.Options.title}}">
                    <div class="help-block">{{"例如: 支付宝付款"|T}}</div>
                </div>
            </div><!-- form-group -->
        </div><!-- fieldset -->
    </div><!-- col-sm-8 -->
</div>


<div class="form-group">
    <label class="col-sm-2 control-label">{{"微信支付"|T}}</label>
    <div class="col-sm-8">
        <div class="fieldset bg-fc">
            <div class="form-group">
                <label class="col-sm-2 control-label">{{"状态"|T}}</label>
                <div class="col-sm-9">
                    <div class="radio radio-success radio-inline">
                        <input type="radio" value="N" name="payment[wechat][disabled]" id="payment-wechat-disabled-N"{{if eq $config.wechat.Disabled "N"}} checked{{end}}> <label for="payment-wechat-disabled-N">{{"启用"|T}}</label>
                    </div>
                    <div class="radio radio-danger radio-inline">
                        <input type="radio" value="Y" name="payment[wechat][disabled]" id="payment-wechat-disabled-Y"{{if eq $config.wechat.Disabled "Y"}} checked{{end}}> <label for="payment-wechat-disabled-Y">{{"禁用"|T}}</label>
                    </div>
                </div>
            </div><!-- form-group -->
            <div class="form-group">
                <label class="col-sm-2 control-label">App ID</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="payment[wechat][value][appID]" value="{{$config.wechat.ValueObject.AppID}}">
                </div>
            </div><!-- form-group -->
            <div class="form-group">
                <label class="col-sm-2 control-label">App Secret</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="payment[wechat][value][appSecret]" value="{{$config.wechat.ValueObject.AppSecret}}">
                </div>
            </div><!-- form-group -->
            <div class="form-group">
                <label class="col-sm-2 control-label">{{"图标类名"|T}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="payment[wechat][value][options][iconClass]" value="{{$config.wechat.ValueObject.Options.iconClass}}">
                    <div class="help-block">{{"例如: "|T}}<code>fa fa-wechat</code></div>
                </div>
            </div><!-- form-group -->
            <div class="form-group">
                <label class="col-sm-2 control-label">{{"支付标题"|T}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="payment[wechat][value][options][title]" value="{{$config.wechat.ValueObject.Options.title}}">
                    <div class="help-block">{{"例如: 微信支付"|T}}</div>
                </div>
            </div><!-- form-group -->
        </div><!-- fieldset -->
    </div><!-- col-sm-8 -->
</div>


<div class="form-group">
    <label class="col-sm-2 control-label">{{"PayJS支付"|T}}</label>
    <div class="col-sm-8">
        <div class="fieldset bg-fc">
            <div class="form-group">
                <label class="col-sm-2 control-label">{{"状态"|T}}</label>
                <div class="col-sm-9">
                    <div class="radio radio-success radio-inline">
                        <input type="radio" value="N" name="payment[payjs][disabled]" id="payment-payjs-disabled-N"{{if eq $config.payjs.Disabled "N"}} checked{{end}}> <label for="payment-payjs-disabled-N">{{"启用"|T}}</label>
                    </div>
                    <div class="radio radio-danger radio-inline">
                        <input type="radio" value="Y" name="payment[payjs][disabled]" id="payment-payjs-disabled-Y"{{if eq $config.payjs.Disabled "Y"}} checked{{end}}> <label for="payment-payjs-disabled-Y">{{"禁用"|T}}</label>
                    </div>
                </div>
            </div><!-- form-group -->
            <div class="form-group">
                <label class="col-sm-2 control-label">App ID</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="payment[payjs][value][appID]" value="{{$config.payjs.ValueObject.AppID}}">
                </div>
            </div><!-- form-group -->
            <div class="form-group">
                <label class="col-sm-2 control-label">App Secret</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="payment[payjs][value][appSecret]" value="{{$config.payjs.ValueObject.AppSecret}}">
                </div>
            </div><!-- form-group -->
            <div class="form-group">
                <label class="col-sm-2 control-label">{{"图标类名"|T}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="payment[payjs][value][options][iconClass]" value="{{$config.payjs.ValueObject.Options.iconClass}}">
                    <div class="help-block">{{"例如: "|T}}<code>fa fa-user</code></div>
                </div>
            </div><!-- form-group -->
            <div class="form-group">
                <label class="col-sm-2 control-label">{{"支付标题"|T}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="payment[payjs][value][options][title]" value="{{$config.payjs.ValueObject.Options.title}}">
                    <div class="help-block">{{"例如: PayJS支付"|T}}</div>
                </div>
            </div><!-- form-group -->
        </div><!-- fieldset -->
    </div><!-- col-sm-8 -->
</div>


<div class="form-group">
    <label class="col-sm-2 control-label">{{"个人收款码"|T}}</label>
    <div class="col-sm-8">
        <div class="fieldset bg-fc">
            <div class="form-group">
                <label class="col-sm-2 control-label">{{"状态"|T}}</label>
                <div class="col-sm-9">
                    <div class="radio radio-success radio-inline">
                        <input type="radio" value="N" name="payment[personal][disabled]" id="payment-personal-disabled-N"{{if eq $config.personal.Disabled "N"}} checked{{end}}> <label for="payment-personal-disabled-N">{{"启用"|T}}</label>
                    </div>
                    <div class="radio radio-danger radio-inline">
                        <input type="radio" value="Y" name="payment[personal][disabled]" id="payment-personal-disabled-Y"{{if eq $config.personal.Disabled "Y"}} checked{{end}}> <label for="payment-personal-disabled-Y">{{"禁用"|T}}</label>
                    </div>
                </div>
            </div><!-- form-group -->
            <div class="form-group">
                <label class="col-sm-2 control-label">{{"图标类名"|T}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="payment[personal][value][options][iconClass]" value="{{$config.personal.ValueObject.Options.iconClass}}">
                    <div class="help-block">{{"例如: "|T}}<code>fa fa-user</code></div>
                </div>
            </div><!-- form-group -->
            <div class="form-group">
                <label class="col-sm-2 control-label">{{"支付标题"|T}}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="payment[personal][value][options][title]" value="{{$config.personal.ValueObject.Options.title}}">
                    <div class="help-block">{{"例如: 个人收款码"|T}}</div>
                </div>
            </div><!-- form-group -->
        </div><!-- fieldset -->
    </div><!-- col-sm-8 -->
</div>