<div class="form-group">
        <label class="col-sm-2 control-label">{{"协议"|T}}</label>
        <div class="col-sm-9">{{$v := Val . "protocol"}}
          <select name="{{Key . "protocol"}}" class="form-control">
            <option value="udp"{{if eq $v "udp"}} selected="selected"{{end}}>udp</option>
          </select>
        </div>
</div>
<div class="form-group">
      <label class="col-sm-2 control-label">{{"内网主机"|T}}</label>
      <div class="col-sm-9">
          <div class="input-group">
            <div class="input-group-addon">{{"主机"|T}}</div>
            <input type="text" class="form-control" name="{{Key . "local_ip"}}" value="{{Val . "local_ip"}}">
            <div class="input-group-addon">{{"端口"|T}}</div>
            <input type="text" class="form-control" name="{{Key . "local_port"}}" value="{{Val . "local_port"}}">
          </div><!-- /.input-group -->
      </div>
</div>
<div class="form-group">
      <label class="col-sm-2 control-label">{{"远程主机"|T}}</label>
      <div class="col-sm-9">
            <div class="input-group">
                <div class="input-group-addon">{{"端口"|T}}</div>
                <input type="text" class="form-control" name="{{Key . "remote_port"}}" value="{{Val . "remote_port"}}">
            </div><!-- /.input-group -->
      </div>
</div>
<div class="form-group">
      <label class="col-sm-2 control-label">{{"数据处理"|T}}</label>
      <div class="col-sm-9">
            {{$v := Val . "use_encryption"}}
            <div class="checkbox checkbox-primary checkbox-inline"> 
              <input type="checkbox" value="1" id="dns-{{Key . "use_encryption"}}-1" name="{{Key . "use_encryption"}}"{{if eq $v "1"}} checked{{end}}><label for="dns-{{Key . "use_encryption"}}-1">{{"加密"|T}}</label> 
            </div>
            {{$v := Val . "use_compression"}}
            <div class="checkbox checkbox-primary checkbox-inline"> 
              <input type="checkbox" value="1" id="dns-{{Key . "use_compression"}}-1" name="{{Key . "use_compression"}}"{{if eq $v "1"}} checked{{end}}><label for="dns-{{Key . "use_compression"}}-1">{{"压缩"|T}}</label> 
            </div>
      </div>
</div>