<div class="form-group">
      <label class="col-sm-2 control-label">{{"协议"|T}}</label>
      <div class="col-sm-9">{{$v := Val . "protocol"}}
        <select name="{{Key . "protocol"}}" class="form-control">
          <option value="tcp"{{if eq $v "tcp"}} selected="selected"{{end}}>tcp</option>
          <option value="udp"{{if eq $v "udp"}} selected="selected"{{end}}>udp</option>
          <option value="http"{{if eq $v "http"}} selected="selected"{{end}}>http</option>
          <option value="https"{{if eq $v "https"}} selected="selected"{{end}}>https</option>
          <option value="stcp"{{if eq $v "stcp"}} selected="selected"{{end}}>stcp</option>
          <option value="xtcp"{{if eq $v "xtcp"}} selected="selected"{{end}}>xtcp</option>
        </select>
      </div>
</div>
<div class="form-group">
      <label class="col-sm-2 control-label">{{"内网地址"|T}}</label>
      <div class="col-sm-9">
          <div class="input-group">
            <div class="input-group-addon">{{"主机"|T}}</div>
            <input type="text" class="form-control" name="{{Key . "local_ip"}}" value="{{Val . "local_ip"}}">
            <div class="input-group-addon">{{"端口"|T}}</div>
            <input type="text" class="form-control" name="{{Key . "local_port"}}" value="{{Val . "local_port"}}">
          </div><!-- /.input-group -->
          <div class="help-block">
            {{"支持设置端口范围（例如：6010-6020,6022,6024-6028），但端口范围必须与远程主机的端口范围相同"|T}}<br />
            {{Include "frp/client/form/_local_ip_tips"}}
          </div>
      </div>
</div>
<div class="form-group">
      <label class="col-sm-2 control-label">{{"远程主机"|T}}</label>
      <div class="col-sm-9">
            <div class="input-group">
                <div class="input-group-addon">{{"端口"|T}}</div>
                <input type="text" class="form-control" name="{{Key . "remote_port"}}" value="{{Val . "remote_port"}}">
            </div><!-- /.input-group -->
            <div class="help-block">
                  {{"如果端口设为0，frp将为您随机设置一个端口。支持设置端口范围（例如：6010-6020,6022,6024-6028），但端口范围必须与内网主机的端口范围相同"|T}}
            </div>
      </div>
</div>
<div class="form-group">
      <label class="col-sm-2 control-label">{{"数据处理"|T}}</label>
      <div class="col-sm-9">
            {{$v := Val . "use_encryption"}}
            <div class="checkbox checkbox-primary checkbox-inline"> 
              <input type="checkbox" value="1" id="ssh-{{Key . "use_encryption"}}-1" name="{{Key . "use_encryption"}}"{{if eq $v "1"}} checked{{end}}><label for="ssh-{{Key . "use_encryption"}}-1">{{"加密"|T}}</label> 
            </div>
            {{$v := Val . "use_compression"}}
            <div class="checkbox checkbox-primary checkbox-inline"> 
              <input type="checkbox" value="1" id="ssh-{{Key . "use_compression"}}-1" name="{{Key . "use_compression"}}"{{if eq $v "1"}} checked{{end}}><label for="ssh-{{Key . "use_compression"}}-1">{{"压缩"|T}}</label> 
            </div>
      </div>
</div>
<div class="form-group">
      <label class="col-sm-2 control-label">{{"组设置"|T}}</label>
      <div class="col-sm-9">
          <div class="input-group">
            <div class="input-group-addon">{{"组名称"|T}}</div>
            <input type="text" class="form-control" name="{{Key . "group"}}" value="{{Val . "group"}}">
            <div class="input-group-addon">{{"组密码"|T}}</div>
            <input type="text" class="form-control" name="{{Key . "group_key"}}" value="{{Val . "group_key"}}">
          </div><!-- /.input-group -->
          <div class="help-block">{{"frps将均衡的与同一个组里的代理建立连接"|T}}</div>
      </div>
</div>