#file-list-box > .sm-margin-top{margin-top:0 !important}
#file-list-box .block-flat{margin:0 !important;border-bottom-width:0 !important;}
#search-form-box > .sm-margin-top{margin-top:0 !important;margin-bottom:10px !important}
.pagination{margin:0 !important}
