{{Extend "layout"}}
{{Block "title"}}{{Stored.title}}{{/Block}}
{{Block "breadcrumb"}}
{{Super}}
<li>{{"工具箱"|T}}</li>
<li class="active">{{Stored.title}}</li>
{{/Block}}
{{Block "main"}}

<div class="row">
    <div class="col-md-12">
        <div class="block-flat">
          <div class="header">
            <span class="pull-right">
              {{- if Stored.isRunning -}}
              <span class="label label-success">{{`运行中`|T}}</span>
              {{- else -}}
              <span class="label label-danger">{{`已停止`|T}}</span>
              {{- end -}}
            </span>
            <h3>{{Stored.title}}</h3>
          </div>
          <div class="content">
            <form class="form-horizontal group-border-dashed" method="POST" id="ddns-form" action="">
            {{Include "tool/ddns_form"}}
            </form>
          </div><!-- /.content -->
        </div><!-- /.block-flat -->
    </div>
</div>
{{/Block}}
{{Block "footer"}}
<script src="{{AssetsURL}}/js/template.js?t={{BuildTime}}" type="text/javascript"></script>
<script src="{{AssetsURL}}/js/behaviour/page/ddns.js?t={{BuildTime}}" type="text/javascript"></script>
{{/Block}}