# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
/caddy.pid
/access_local.log
/*.log
/*.pid
/installed.lock
/dist/config
/dist/ftp.pid
/dist/nging_*
/dist/data
/dist/access_local.log
/dist/*.pid
/bindata_assetfs.go
/config/vhosts/*
/vendor/github.com/webx-top/echo/handler/oauth2/example/*.db
/vendor/github.com/webx-top/echo/handler/oauth2/example/session.db.lock
