# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go
.idea
/*.exe
tower-app-*
*.test
*.prof
*.log
*.log.*
*.pid
/installed.lock
/installed2.lock
/dist/config
/dist/ftp.pid
/dist/nging_*
/dist/data
/bindata_assetfs.go
/config/vhosts/*.conf
/vendor/github.com/webx-top/echo/handler/oauth2/example/*.db
/vendor/github.com/webx-top/echo/handler/oauth2/example/*.db.lock
/.vscode
/*.db
nging
/config/config.yaml
/config/*.html
/license.key
debug.log
/data/logs*.txt
/config/frp/*
/data/nging.pem
/data/nging.pem.pub
/data/sm2/*
/data/logs/*.txt
/application/library/collector/chrome/*.png
/data/cache/*
nohup.out
/public/upload/*
.DS_Store
node_modules
package-lock.json
/dist/localtest/*/