{{Extend "layout"}}
{{Block "title"}}{{"账号列表"|T}}{{/Block}}
{{Block "breadcrumb"}}
{{Super}}
<li class="active">{{"账号列表"|T}}</li>
{{/Block}}
{{Block "main"}}
<div class="row">
				<div class="col-md-12">
					<div class="block-flat">
						<div class="header">
							<div class="alert alert-warning">
								<i class="fa fa-lightbulb-o text-warning"></i>
								1. {{"此处账号用于服务端的“多用户登录”插件"|T}}
								&nbsp;
								{{- if not Config.base.backendURL -}}
								2. {{ToHTML (T "发现您还没有设置%s后台网址%s，可能无法正常使用“多用户登录”插件" `<a href="/manager/settings?focusName=base[backendURL][value]" target="_blank">` `</a>`)}}
								{{- end -}}
							</div>
							<a href="{{BackendURL}}/frp/account_add" class="btn btn-success pull-right">
								<i class="fa fa-plus"></i>
								{{"添加FRP账号"|T}}
							</a>
							<h3>{{"FRP账号列表"|T}}</h3>
						</div>
						<div class="content">
							<div class="table-responsive">
							<table class="table no-border hover">
								<thead class="no-border">
									<tr>
										<th style="width:60px"><strong>ID</strong></th>
										<th><strong>{{"账户名"|T}}</strong></th>
										<th><strong>{{"服务"|T}}</strong></th>
										<th><strong>{{"有效期"|T}}</strong></th>
										<th style="width:60px"><strong>{{"状态"|T}}</strong></th>
										<th style="width:60px"><strong>客户ID</strong></th>
										<th style="width:60px"><strong>管理员</strong></th>
										<th style="width:130px"><strong>{{"创建时间"|T}}</strong></th>
										<th style="width:130px"><strong>{{"更新时间"|T}}</strong></th>
										<th style="width:120px" class="text-center"><strong>{{"操作"|T}}</strong></th>
									</tr>
								</thead>
								<tbody class="no-border-y">
                                    {{range $k,$v := Stored.listData}}
									<tr>
										<td>{{$v.Id}}</td>
										<td>{{$v.Username}}</td>
										<td>{{if $v.Server}}{{$v.Server.Name}}{{else}}<code>{{`不限`|T}}</code>{{end}}</td>
										<td>
											{{if and (gt $v.Start 0) (gt $v.End 0)}}
											{{$v.Start|DateFormat "2006-01-02 15:04:05"}} ~ {{$v.End|DateFormat "2006-01-02 15:04:05"}}
											{{else if gt $v.Start 0}}
											{{$v.Start|DateFormat "2006-01-02 15:04:05"}}{{"以后"|T}}
											{{else if gt $v.End 0}}
											{{$v.End|DateFormat "2006-01-02 15:04:05"}}{{"以前"|T}}
											{{else}}
											{{"不限制"|T}}
											{{end}}
										</td>
                                        {{if eq $v.Banned "Y"}}
										<td class="color-danger">{{"禁用"|T}}</td>
                                        {{else}}
                                        <td class="color-success">{{"有效"|T}}</td>
                                        {{end}}
                                        <td>{{$v.CustomerId}}</td>
                                        <td>{{$v.Uid}}</td>
										<td>{{(Date $v.Created).Format "2006-01-02 15:04:05"}}</td>
										<td>{{if gt $v.Updated 0}}{{(Date $v.Updated).Format "2006-01-02 15:04:05"}}{{end}}</td>
										<td class="text-center">
										<a class="label label-default" href="{{BackendURL}}/frp/account_add?copyId={{$v.Id}}" title="{{"复制"|T}}"><i class="fa fa-copy"></i></a>
										<a class="label label-success" href="{{BackendURL}}/frp/account_edit?id={{$v.Id}}"><i class="fa fa-pencil"></i></a> 
										<a class="label label-danger" href="{{BackendURL}}/frp/account_delete?id={{$v.Id}}" onclick="return confirm('{{`真的要删除吗？`|T}}');"><i class="fa fa-times"></i></a>
										</td>
									</tr>
                                    {{end}}
								</tbody>
							</table>		
							</div>
							{{Stored.pagination.Render}}
						</div>
					</div>				
				</div>
			</div>
{{/Block}}