{{Extend "layout"}}
{{Block "title"}}{{if HasSuffix URL.Path "_add"}}{{"添加FRP账号"|T}}{{else}}{{"修改FRP账号"|T}}{{end}}{{/Block}}
{{Block "breadcrumb"}}
{{Super}}
<li><a href="{{BackendURL}}/frp/account">{{"FRP账号"|T}}</a></li>
<li class="active">{{if HasSuffix URL.Path "_add"}}{{"添加"|T}}{{else}}{{"修改"|T}}{{end}}</li>
{{/Block}}
{{Block "main"}}

{{$addingMode:=HasSuffix URL.Path "_add"}}
<div class="row">
    <div class="col-md-12">
        <div class="block-flat">
          <div class="header">							
            <h3>{{if $addingMode}}{{"添加FRP账号"|T}}{{else}}{{"修改FRP账号"|T}}{{end}}</h3>
          </div>
          <div class="content">
              <form class="form-horizontal group-border-dashed" method="POST" action="">
              <div class="form-group">
                <label class="col-sm-2 control-label">{{"账户名"|T}}</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="username" value="{{Form "username"}}">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{"密码"|T}}</label>
                <div class="col-sm-3">
                    <input type="password" class="form-control" name="password" value="" autocomplete="off" placeholder="{{"请设置不小于6个字符的密码"|T}}">
                    <div class="help-block">{{if not $addingMode}}{{"如果不修改密码，请留空"|T}}{{else}}{{"请设置不小于6个字符的密码"|T}}{{end}}</div>
                </div>
                <label class="col-sm-2 control-label">{{"确认"|T}}</label>
                <div class="col-sm-3">
                    <input type="password" class="form-control" name="confirmPassword" value="" autocomplete="off" placeholder="{{"再输入一次密码"|T}}">
                    <div class="help-block">{{if not $addingMode}}{{"如果不修改密码，请留空"|T}}{{else}}{{"再输入一次密码"|T}}{{end}}</div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{"FRP服务"|T}}</label>
                <div class="col-sm-3">{{$v := Form "serverId"}}
                  <input id="serverId" name="serverId" type="text" class="form-control" data-init="{{$v}}" value="{{$v}}" />
                  <div class="help-block">{{"不选择则代表不限"|T}}</div>
                </div>
                <label class="col-sm-2 control-label">{{"客户ID"|T}}</label>
                <div class="col-sm-3">{{$v := Form "customerId"}}
                  <input name="customerId" type="number" class="form-control" value="{{$v}}" />
                  <div class="help-block">{{"客户ID配置"|T}}</div>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">{{"有效期"|T}}</label>
                <div class="col-sm-8">
                  <div class="input-group">
                      <input class="form-control" type="date" name="start" value="{{Form "start"}}">
                      <span class="input-group-addon"> ~ </span>
                      <input class="form-control" type="date" name="end" value="{{Form "end"}}">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{"IP白名单"|T}}</label>
                <div class="col-sm-8">
                  <textarea class="form-control" name="ipWhitelist">{{Form "ipWhitelist"}}</textarea>
                  <div class="help-block">{{"IP白名单。一行一个，支持指定范围(例如：172.168.0.1-172.170.0.1)"|T}}</div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{"IP黑名单"|T}}</label>
                <div class="col-sm-8">
                  <textarea class="form-control" name="ipBlacklist">{{Form "ipBlacklist"}}</textarea>
                  <div class="help-block">{{"IP黑名单。一行一个，支持指定范围(例如：172.168.0.1-172.170.0.1)"|T}}</div>
                </div>
              </div>
              
              <div class="form-group">
                <label class="col-sm-2 control-label">{{"连接控制"|T}}</label>
                <div class="col-sm-8">
                  {{$v := Form "banned"}}
                  <div class="radio radio-primary radio-inline"> 
                    <input type="radio" value="N" id="banned-N-visitor" name="banned"{{if or (eq $v "N") (eq $v "")}} checked{{end}}><label for="banned-N">{{"允许连接"|T}}</label> 
                  </div>
                  <div class="radio radio-danger radio-inline"> 
                    <input type="radio" value="Y" id="banned-Y" name="banned"{{if eq $v "Y"}} checked{{end}}><label for="banned-Y">{{"禁止连接"|T}}</label> 
                  </div>
                </div>
              </div>
              
              <div class="form-group form-submit-group">
									<div class="col-sm-9 col-sm-offset-2">
									  <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-save"></i> {{"保存"|T}}</button>
									  <button type="reset" class="btn btn-default btn-lg"><i class="fa fa-refresh"></i> {{"重置"|T}}</button>
									</div>
							</div>
            </form>
          </div><!-- /.content -->
        </div><!-- /.block-flat -->
    </div>
</div>
{{/Block}}
{{Block "footer"}}
<script src="{{AssetsURL}}/js/loader/loader.min.js?t={{BuildTime}}"></script>
<script src="{{AssetsURL}}/js/editor/editor.min.js?t={{BuildTime}}"></script>
<script type="text/javascript">
$(function(){
  App.editor.selectPage('#serverId',{data:BACKEND_URL+'/frp/server_index'});
});
</script>
{{/Block}}