{{Strip}}
<!DOCTYPE html>{{$themeColor := call $.Func.ThemeColor}}
<html lang="{{$.Lang}}"{{if eq $themeColor `dark`}} class="dark-theme"{{end}}>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{Block "description"}}{{Version.Name}}{{/Block}}">
	<meta name="buildTime" content="{{BuildTime}}">
	<meta name="commitID" content="{{CommitID}}">
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
	<title>{{Block "title"}}{{/Block}} - {{Version}}</title>
	<!-- Bootstrap core CSS -->
	<link href="{{AssetsURL}}/js/bootstrap/dist/css/bootstrap.min.css?t={{BuildTime}}" rel="stylesheet">
	<link rel="stylesheet" href="{{AssetsURL}}/js/jquery.gritter/css/jquery.gritter.min.css?t={{BuildTime}}" />
	<link rel="stylesheet" href="{{AssetsURL}}/js/jquery.gritter/css/custom.min.css?t={{BuildTime}}" />
	{{Include "global_js"}}
	{{Block "head"}}{{/Block}}
	<link id="css-lazyload-end" href="{{AssetsURL}}/css/reset.css?t={{BuildTime}}" rel="stylesheet" />
	<!-- Custom styles for this template -->
	<link href="{{AssetsURL}}/css/style.min.css?t={{BuildTime}}" rel="stylesheet" />
	{{- if eq $themeColor `dark` -}}
	<link href="{{AssetsURL}}/css/dark.min.css?t={{BuildTime}}" rel="stylesheet" />
	{{- end -}}
    {{Block "headEnd"}}{{/Block}}
</head>
 
<body{{Block "bodyAttr"}}{{/Block}}>
{{if hasAnyBlock "languageSwitcher"}}
{{Block "languageSwitcher"}}{{/Block}}
{{else}}
<div class="dropdown" style="position:fixed;z-index:99;" id="switch-language">
	<a href="javascript:;" class="dropdown-toggle" style="color:white" data-toggle="dropdown">{{"Languages"|$.T}} <b class="caret"></b></a>
	<ul class="dropdown-menu">
		{{range $k, $v := Languages}}
		<li{{if eq $v $.Lang.String}} class="active"{{end}}>
			<a href="?lang={{$v}}" onclick="App.switchLang('{{$v}}');return false;">{{$v}}</a>
		</li>
		{{end}}
	</ul>
</div>
{{end}}
{{Block "main"}}{{/Block}}
<script src="{{AssetsURL}}/js/compatible.min.js?t={{BuildTime}}" type="text/javascript"></script>
<script src="{{AssetsURL}}/js/jquery3.6.min.js?t={{BuildTime}}"></script>
<script src="{{AssetsURL}}/js/jquery.migrate3.4.min.js?t={{BuildTime}}"></script>
<script src="{{AssetsURL}}/js/jquery.gritter/js/jquery.gritter.min.js?t={{BuildTime}}" type="text/javascript"></script>
<script src="{{AssetsURL}}/js/bootstrap/dist/js/bootstrap.min.js?t={{BuildTime}}" type="text/javascript"></script>
<script src="{{AssetsURL}}/js/behaviour/sprintf.min.js?t={{BuildTime}}" type="text/javascript"></script>
<script src="{{AssetsURL}}/js/behaviour/general.min.js?t={{BuildTime}}" type="text/javascript"></script>
<script type="text/javascript" src="{{BackendURL}}/i18n.js?t={{BuildTime}}" charset="utf-8"></script>
{{Include "init_js"}}
{{Block "footer"}}{{/Block}}
{{Block "tracker"}}
{{TrackerHTML}}
{{/Block}}
</body>
</html>
{{/Strip}}