{{Strip}}
<!DOCTYPE html>
<html lang="{{Lang}}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{Block "description"}}Nging{{/Block}}">
	<meta name="author" content="admpub">
	<meta name="buildTime" content="{{BuildTime}}">
	<meta name="commitID" content="{{CommitID}}">
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
	<title>{{Block "title"}}{{/Block}} - {{Version}}</title>
	<link href="__ASSETS__/css/reset.css?t={{BuildTime}}" rel="stylesheet" />
	<link href='__ASSETS__/css/font_OpenSans400_300_600_400italic_700_800.css?t={{BuildTime}}' rel='stylesheet' type='text/css'>
	<link href='__ASSETS__/css/font_Raleway_300_200_100.css?t={{BuildTime}}' rel='stylesheet' type='text/css'>
	<link href='__ASSETS__/css/iconfont/iconfont.css?t={{BuildTime}}' rel='stylesheet' type='text/css'>
	<!-- Bootstrap core CSS -->
	<link href="__ASSETS__/js/bootstrap/dist/css/bootstrap.min.css?t={{BuildTime}}" rel="stylesheet">
	<link rel="stylesheet" href="__ASSETS__/fonts/font-awesome/css/font-awesome.min.css?t={{BuildTime}}">
	<link rel="stylesheet" href="__ASSETS__/js/jquery.gritter/css/jquery.gritter.min.css?t={{BuildTime}}" />
	<link rel="stylesheet" href="__ASSETS__/js/jquery.gritter/css/custom.min.css?t={{BuildTime}}" />
	<script>var BACKEND_URL='__BACKEND__',FRONTEND_URL='__FRONTEND__',ASSETS_URL='__ASSETS__';</script>
	{{Block "head"}}{{/Block}}
	<!-- Custom styles for this template -->
	<link href="__ASSETS__/css/style.min.css?t={{BuildTime}}" rel="stylesheet" />	

</head>
 
<body{{Block "bodyAttr"}}{{/Block}}>
<div class="dropdown" style="position:fixed;z-index:99;" id="switch-language">
	<a href="javascript:;" class="dropdown-toggle" style="color:white" data-toggle="dropdown">{{"Languages"|T}} <b class="caret"></b></a>
	<ul class="dropdown-menu">
		{{range $k, $v := Languages}}
		<li{{if eq $v Lang}} class="active"{{end}}>
			<a href="?lang={{$v}}" onclick="App.switchLang('{{$v}}');return false;">{{$v}}</a>
		</li>
		{{end}}
	</ul>
</div>
{{Block "main"}}{{/Block}}
<script src="__ASSETS__/js/jquery.js?t={{BuildTime}}" type="text/javascript"></script>
<script src="__ASSETS__/js/jquery.gritter/js/jquery.gritter.min.js?t={{BuildTime}}" type="text/javascript"></script>
<script src="__ASSETS__/js/bootstrap/dist/js/bootstrap.min.js?t={{BuildTime}}" type="text/javascript"></script>
{{Include "init_js"}}
{{Block "footer"}}{{/Block}}
{{Block "tracker"}}
<script type="text/javascript" async src="{{TrackerURL}}"></script>
{{/Block}}
</body>
</html>
{{/Strip}}