{{Extend "layout"}}
{{Block "title"}}{{"管理中心首页"|T}}{{/Block}}
{{Block "main"}}
<div class="row stat-card-items">
    {{- $cardSize := len Stored.cards -}}
    {{- range $k,$card := Stored.cards -}}
    {{- if $card -}}
    <div class="col-md-{{if lt $cardSize 4}}4{{else}}3{{end}} stat-card-item">
        <div class="block-flat">
            <div class="content no-padding">
                <div class="overflow-hidden">
                    <i class="fa {{$card.IconName}} fa-4x pull-left color-{{$card.IconColor}}"></i>
                    <h3 class="no-margin">{{$card.Short}}</h3>
                    <p class="color-primary">{{$card.Name}}</p>
                </div>
                <h1 class="no-margin overflow-hidden">{{$card.Content}}</h1>
            </div>
        </div>
    </div>
    {{- end -}}
    {{- end -}}
</div>
{{- range $k,$block := Stored.blocks -}}
{{- if $block -}}
{{- if $block.Tmpl}}{{Fetch $block.Tmpl $}}{{end -}}
{{- end -}}
{{- end -}}
<div class="row no-margin-top">
    <div class="col-md-12">
        <div class="block-flat">
            <div class="header">
                <h3>{{"欢迎回来"|}}</h3>
            </div>
            <div class="content">
                <div class="alert alert-success">
					<ul>
						<li>{{"欢迎使用"|T}} {{Version}}</li>
						<li>BUILD: {{BuildTime}}</li>
						<li>COMMIT: {{CommitID}}</li>
						<li>{{"现在是"|T}} {{Now.Format "2006-01-02 15:04"}} {{Now.Weekday}}</li>
					</ul>
                </div>
            {{- if Stored.license.Key -}}
                <h4>{{"授权信息"|T}}</h4>
                <p>
                    <b>{{"授权用户"|T}}</b>: {{Stored.license.Info.Name}}<br />
                {{- if Stored.license.Info.LicenseID -}}
                    <b>{{"证书编号"|T}}</b>: {{Stored.license.Info.LicenseID}}<br />
                {{- end -}}
                    <b>{{"机器编号"|T}}</b>: {{Stored.license.Info.MachineID}}<br />
                {{- if Stored.license.Info.Expiration.IsZero -}}
                    <b>{{"过期时间"|T}}</b>: 
                    {{"永久有效"|T}}
                {{- else -}}
                    {{- $remaining := Stored.license.Info.Remaining Lang -}}
                    {{- $showExpirationTime := Stored.showExpirationTime -}}
                    {{- if and (ge $showExpirationTime 0) (or (eq $showExpirationTime 0) (lt $remaining.Duration.Seconds (Float64 $showExpirationTime))) -}}
                        <b>{{"过期时间"|T}}</b>: 
                        {{- Stored.license.Info.Expiration.Format "2006-01-02" -}}
                        {{- $remainingString := $remaining.String -}}
                        &nbsp;
                        {{- if HasPrefix $remainingString "-" -}}
                            (<span class="color-danger">{{"已过期"|T}} {{TrimPrefix $remainingString "-"}}</span>)
                        {{- else -}}
                            (<span class="color-success">{{"还剩"|T}} {{$remainingString}}</span>)
                        {{- end -}}
                        <a class="btn btn-xs btn-default" href="{{Stored.productURL}}?source={{SiteURI}}" target="_blank"><i class="fa fa-shopping-cart"></i>{{"续期"|T}}</a>
                    {{- end -}}
                {{- end -}}
                    <br />
                </p>
            {{- end -}}
            </div>
        </div>
    </div>
</div>
{{/Block}}
{{Block "footer"}}
{{- range $k,$block := Stored.blocks -}}
{{- if $block -}}
{{- if $block.Footer}}{{Fetch $block.Footer $}}{{end -}}
{{- end -}}
{{- end -}}
{{/Block}}