{{- $prefix := Stored.Get `cropImageModalPrefix` | Default `noprefix` -}}
<div id="{{$prefix}}-crop-image" class="md-modal colored-header md-effect-1" tabindex="-1" role="dialog">
    <div class="md-content">
      <div class="modal-header">
        <h3>{{"裁剪图片"|T}}</h3>
        <button aria-hidden="true" data-dismiss="modal" class="close md-close" type="button">×</button>
      </div>
      <div class="modal-body">
        <div class="text-center crop-image"></div>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-default btn-flat md-close" type="button">{{"取消"|T}}</button>
        <button id="{{$prefix}}-save-image" class="btn btn-primary btn-flat" type="button">{{"保存"|T}}</button>
      </div>
    </div>
</div>
<div class="md-overlay"></div>
{{- if not (Get `cropImageIsLoaded`) -}}
{{- Set `cropImageIsLoaded` true -}}
<script type="text/javascript" src="{{AssetsURL}}/js/behaviour/page/crop-image.min.js?t={{BuildTime}}"></script>
{{- end -}}
