<script type="text/html" id="tpl-pagination">
<ul class="pagination">
    <li class="prev<% if(page==1){ %> disabled<% } %>">
        <a href="javascript:;" page="1">{{"首页"|$.T}}</a>
    </li>
    <li class="prev<% if(page<=1){ %> disabled<% } %>">
        <a href="javascript:;" page="<%= page<=1?1:page-1 %>">
            <span class="fa fa-angle-left"></span>&nbsp;{{"上一页"|$.T}}
        </a>
    </li>
    {{`<% for(var i=0; i < pageNumbers.length; i++){ %>`|ToHTML}}
    {{`<% var v = pageNumbers[i] %>`|ToHTML}}
    {{`<% if(v == page){ %>`|ToHTML}}
    <li class="active">
    {{`<% }else{ %>`|ToHTML}}
    <li>
    {{`<% } %>`|ToHTML}}
        <a href="javascript:;" page="<%= v %>">{{`<%= v %>`|ToHTML}}</a>
    </li>
    {{`<% } %>`|ToHTML}}
    <li class="next<% if(page>=pages){ %> disabled<% } %>">
        <a href="javascript:;" page="<%= page>=pages?pages:page+1 %>">
            {{"下一页"|$.T}}&nbsp;<span class="fa fa-angle-right"></span>
        </a>
    </li>
    <li class="next<% if(page>=pages){ %> disabled<% } %>">
        <a href="javascript:;" page="<%= pages %>">
            {{"末页"|$.T}}
        </a>
    </li>
</ul>
</script>