{{Strip}}{{- $pjax := $.Form "_pjax" -}}
{{with $.Data}}
<ul class="pagination" disabled-fixed>
    {{- $isFirst := or (eq .Position ``) (eq .Position `0`) -}}
    {{- if not $isFirst -}}
    <li class="prev wd-{{if not .HasNext}}200{{else}}100{{end}}">
        <a href="{{.URL ``}}"{{if $pjax}} data-pjax="{{$pjax}}" data-keepjs="true"{{end}}>
            <span class="fa fa-angle-left"></span>&nbsp;{{"第一页"|$.T}}
        </a>
    </li>
    {{- end -}}
    {{- if .HasNext -}}
    <li class="next active wd-{{if $isFirst}}200{{else}}100{{end}}">
        <a href="{{.URL .NextPosition}}"{{if $pjax}} data-pjax="{{$pjax}}" data-keepjs="true"{{end}}>
            {{"下一页"|$.T}}&nbsp;<span class="fa fa-angle-right"></span>
        </a>
    </li>
    {{- end -}}
</ul>
{{end}}
{{/Strip}}