{{Strip}}{{- $pjax := Form "_pjax" -}}
{{- $page := .Page -}}
<a class="btn btn-sm btn-flat btn-default{{if eq $page 1}} disabled{{end}}" href="{{.URL .PrevPage}}"{{if $pjax}} data-pjax="{{$pjax}}" data-keepjs="true"{{end}}><i class="fa fa-angle-left"></i></a>
<span class="btn btn-sm btn-flat btn-default">{{$page}}</span>
<a class="btn btn-sm btn-flat btn-default{{if ge $page .Pages}} disabled{{end}}" href="{{.URL .NextPage}}"{{if $pjax}} data-pjax="{{$pjax}}" data-keepjs="true"{{end}}><i class="fa fa-angle-right"></i></a>
{{/Strip}}