<div class="side-user">
    <div class="avatar">
      <img src="{{if $.Stored.user.Avatar}}{{AddSuffix $.Stored.user.Avatar "_200_200"}}{{else}}{{AssetsURL}}/images/user_50.png{{end}}" onerror="this.onerror=null;this.src='{{AssetsURL}}/images/user_50.png';" style="width:50px;height:50px" alt="Avatar" />
    </div>
    <div class="info">
      <a href="javascript:;">{{$.Func.Username}}</a>
      <img src="{{AssetsURL}}/images/state_online.png" alt="Status" />
      <span>Online</span>
    </div>
</div>