 {{Strip}}
        <ul class="nav navbar-nav" id="topnav">
          {{$ident := ProjectIdent}}
          {{range $key,$project := Projects}}
          {{if $project}}
          <li{{if $project.Is $ident}} class="active"{{end}}><a href="__BACKEND__/" data-project="{{$project.GetIdent}}"><i class="fa fa-dashboard"></i> {{$project.GetName}}</a></li>
          {{end}}
          {{end}}
          <!-- 
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{"其它产品"|T}} <b class="caret"></b></a>
            <ul class="dropdown-menu from-top">
              <li><a href="http://www.webx.top/product/coscms" target="_blank">COSCMS</a></li>
              <li><a href="http://www.webx.top/product/adsystem" target="_blank">{{"广告系统"|T}}</a></li>
              <li class="dropdown-submenu"><a href="#">{{"第三方产品"|T}}</a>
                <ul class="dropdown-menu">
                  <li><a href="#" target="_blank">Product</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{"赞助商"|T}} <b class="caret"></b></a>
            <ul class="dropdown-menu col-menu-2 from-top">
              <li class="col-sm-6 no-padding">
                <ul>
                <li class="dropdown-header"><i class="fa fa-group"></i>Users</li>
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="dropdown-header"><i class="fa fa-gear"></i>Config</li>
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li> 
                </ul>
              </li>
              <li  class="col-sm-6 no-padding">
                <ul>
                <li class="dropdown-header"><i class="fa fa-legal"></i>Sales</li>
                <li><a href="#">New sale</a></li>
                <li><a href="#">Register a product</a></li>
                <li><a href="#">Register a client</a></li> 
                <li><a href="#">Month sales</a></li>
                <li><a href="#">Delivered orders</a></li>
                </ul>
              </li>
            </ul>
          </li> -->
          
          {{$topNavigate := Navigate "top"}}
          {{range $key, $nav := $topNavigate}}{{if and $nav $nav.DisplayOnMenu}}
          <li class="dropdown">
            {{if $nav.Children}}
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-{{$nav.Icon|Default "gear"}}"></i>
              {{$nav.Name}} <b class="caret"></b>
            </a>
            <ul class="dropdown-menu from-top">
              {{range $k, $c := $nav.Children}}
              {{if and $c $c.DisplayOnMenu}}
              <li>
                <a{{if eq $c.Target "ajax"}} href="javascript:;" data-ajax-url="__BACKEND__/{{$nav.Action}}{{if $c.Action}}/{{$c.Action}}{{end}}"{{else}} href="__BACKEND__/{{$nav.Action}}{{if $c.Action}}/{{$c.Action}}{{end}}"{{if ne $c.Target "redirect"}} data-pjax="#main-container" data-keepjs="true" data-marknav="top"{{end}}{{end}}>
                {{if eq $c.Icon "plus"}}
                <span class="label label-primary pull-right">+</span>
                {{end}}
                {{$c.Name|T}}
                </a>
              </li>
              {{end}}
              {{end}}
            </ul>
            {{else}}
            <a{{if eq $nav.Target "ajax"}} href="javascript:;" data-ajax-url="__BACKEND__/{{$nav.Action}}"{{else}} href="__BACKEND__/{{$nav.Action}}"{{if ne $nav.Target "redirect"}} data-pjax="#main-container" data-keepjs="true" data-marknav="true"{{end}}{{end}}>
                <i class="fa fa-{{$nav.Icon|Default "gear"}}"></i>
                {{$nav.Name}} <b class="caret"></b>
              </a>
            {{end}}
          </li>
          {{end}}{{end}} 
        </ul>
{{/Strip}}