{{Extend "layout"}}
{{Block "breadcrumb"}}
{{Super}}
{{/Block}}
{{Block "main"}}
<div class="row">
    <div class="col-md-12">
        <div class="block-flat">
          <div class="header">							
            <h3>{{if HasSuffix URL.Path "_add"}}{{"添加网站"|T}}{{else}}{{"修改网站"|T}}{{end}}</h3>
          </div>
          <div class="content">
              <form class="form-horizontal group-border-dashed" action="#" style="border-radius: 0px;">
              <div class="form-group">
                <label class="col-sm-3 control-label">{{"网址/域名/IP"|T}}</label>
                <div class="col-sm-6">
                    <input type="text" name="domain" class="form-control" placeholder="{{"网站的网址、域名或IP，如有多个，用空格隔开"|T}}">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">{{"HTTPS"|T}}</label>
                <div class="col-sm-6">
                    <!--<label class="checkbox-inline">
                    <input type="checkbox" name="tls" class="icheck"> Option 1
                    </label> -->
                    <label class="radio-inline">
                      <input type="radio" value="1" name="tls" checked="true" class="icheck"> {{"启用"|T}}
                    </label>
                    <label class="radio-inline">
                      <input type="radio" value="0" name="tls" class="icheck"> {{"禁用"|T}}
                    </label>
                    <div class="bg-6e" id="tls-setting">
                        <div class="form-group">
                          <label class="col-sm-3 control-label">{{"TLS Cert文件"|T}}</label>
                          <div class="col-sm-9">
                             <input type="text" class="form-control" name="tlsCertFile" placeholder="Username">
                          </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Input Sizing</label>
                <div class="col-sm-6">
                  <div class="input-group input-group-lg">
                    <span class="input-group-addon">@</span>
                    <input type="text" class="form-control" placeholder="Username">
                  </div>

                  <div class="input-group">
                    <span class="input-group-addon">@</span>
                    <input type="text" class="form-control" placeholder="Username">
                  </div>

                  <div class="input-group input-group-sm">
                    <span class="input-group-addon">@</span>
                    <input type="text" class="form-control" placeholder="Username">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Checkbox &amp; Radio</label>
                <div class="col-sm-6">
                  <div class="input-group">
                    <span class="input-group-addon">
                    <input type="checkbox">
                    </span>
                    <input type="text" class="form-control">
                  </div>	
                  <div class="input-group">
                    <span class="input-group-addon">
                    <input type="radio">
                    </span>
                    <input type="text" class="form-control">
                  </div>										
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Button Addons</label>
                <div class="col-sm-6">
                  <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">Go!</button>
                    </span>
                  </div>
                  <div class="input-group">
                    <input type="text" class="form-control">
                    <div class="input-group-btn">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
                    <ul class="dropdown-menu pull-right">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                    </ul>
                    </div>
                  </div>
                  <div class="input-group">
                    <input type="text" class="form-control">
                    <div class="input-group-btn">
                      <button tabindex="-1" class="btn btn-default" type="button">Action</button>
                      <button tabindex="-1" data-toggle="dropdown" class="btn btn-primary dropdown-toggle" type="button">
                      <span class="caret"></span>
                      <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul role="menu" class="dropdown-menu pull-right">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Readonly Input</label>
                <div class="col-sm-6">
                  <input type="text" readonly="readonly" class="form-control" value="Readonly input text">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Textarea</label>
                <div class="col-sm-6">
                  <textarea class="form-control"></textarea>
                </div>
              </div>
            </form>
          </div><!-- /.content -->
        </div><!-- /.block-flat -->
    </div>
</div>
{{/Block}}