{{Extend "layout"}}
{{Block "title"}}{{if HasSuffix URL.Path "_add"}}{{"添加网站"|T}}{{else}}{{"修改网站"|T}}{{end}}{{/Block}}
{{Block "breadcrumb"}}
{{Super}}
<li class="active">{{if HasSuffix URL.Path "_add"}}{{"添加网站"|T}}{{else}}{{"修改网站"|T}}{{end}}</li>
{{/Block}}
{{Block "main"}}
<div class="row">
    <div class="col-md-12">
        <div class="block-flat">
          <div class="header">							
            <h3>{{if HasSuffix URL.Path "_add"}}{{"添加网站"|T}}{{else}}{{"修改网站"|T}}{{end}}</h3>
          </div>
          <div class="content">
              <form class="form-horizontal group-border-dashed" method="POST" action="">
              <div class="form-group">
                <label class="col-sm-2 control-label">{{"网址/域名/IP"|T}}</label>
                <div class="col-sm-8">
                    <input type="text" name="domain" class="form-control" required="required" value="{{Form "domain"}}">
                    <div class="help-block">{{"网站的网址、域名或IP，支持通配符“*”(例如*.admpub.com)和环境变量(环境变量用花括号括起来，例如localhost:{$PORT})。如有多个，用空格隔开"|T}}</div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{"物理路径"|T}}</label>
                <div class="col-sm-8">
                    <input type="text" name="root" class="form-control" required="required" value="{{Form "root"}}">
                    <div class="help-block">{{"在服务器上的绝对路径"|T}}</div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{"日志文件"|T}}</label>
                <div class="col-sm-8">
                    <input type="text" name="log" class="form-control" value="{{Val "log" "access_local.log"}}">
                    <div class="help-block">{{"日志文件保存路径"|T}}</div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{"Header"|T}}</label>
                <div class="col-sm-8">
                  <div class="fieldset bg-6e">
                    <div class="form-group">
                          <label class="col-sm-2 control-label">{{"指定路径"|T}}</label>
                          <div class="col-sm-9">
                             <input type="text" class="form-control" name="header_path" value="{{Form "header_path"}}">
                             <div class="help-block">{{"可以针对某个起始路径设置header"|T}}</div>
                          </div>
                    </div>

                    <div class="form-group">
                          <label class="col-sm-2 control-label">{{"设置Header"|T}}</label>
                          <div class="col-sm-9">
                    <table>
								        <thead>
								        	<tr>
								        		<th style="width:50%;">{{"字段名"|T}}</th>
								        		<th>{{"值"|T}}</th>
								        		<th width="70">{{"删除"|T}}</th>
								        	</tr>
								        </thead>
								        <tbody>
                                {{$vals := FormValues "header_v"}}
                                {{$vlen := len $vals}}
                                {{range $k,$v:=FormValues "header_k"}}
                                    {{if lt $k $vlen}}
<tr>
	<td><input type="text" class="form-control" name="header_k" value="{{$v}}"></td>
	<td><input type="text" class="form-control" name="header_v" value="{{index $vals $k}}"></td>
	<td class="text-center">
    <button type="button" class="btn btn-danger" onclick="$(this).parent().parent().remove()">
      <i class="fa fa-times"></i>
    </button>
  </td>
</tr>
                                        
                                    {{end}}
                                {{end}}
								        	<tr>
								        		<td colspan="3" class="text-center primary-emphasis" style="cursor:pointer" id="headerAddVarBtn"><i class="fa fa-plus"></i></td>
								        	</tr>
								        </tbody>
							      </table>
                    <div class="help-block">{{"如果要将已存在的header删掉，请在名称前使用减号(-)并将其值留空"|T}}</div>
                  </div>
                  
                          </div>
                    </div>

                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{"HTTPS"|T}}</label>
                <div class="col-sm-8">
                    {{$v := Form "tls"}}
                    <label class="radio-inline">
                      <input type="radio" value="1" name="tls" class="icheck" data-slide-settings="show"{{if eq $v "1"}} checked{{end}}> {{"启用"|T}}
                    </label>
                    <label class="radio-inline">
                      <input type="radio" value="0" name="tls" class="icheck" data-slide-settings="hide"{{if or (eq $v "0") (eq $v "")}} checked{{end}}> {{"禁用"|T}}
                    </label>
                    <div class="fieldset bg-6e hide" id="tls-settings">
                        {{if eq $v "1"}}{{Include "addon/form/tls"}}{{end}}
                    </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{"GZIP"|T}}</label>
                <div class="col-sm-8">
                  {{$v := Form "gzip"}}
                    <label class="radio-inline">
                      <input type="radio" value="1" name="gzip" class="icheck" data-slide-settings="show"{{if eq $v "1"}} checked{{end}}> {{"启用"|T}}
                    </label>
                    <label class="radio-inline">
                      <input type="radio" value="0" name="gzip" class="icheck" data-slide-settings="hide"{{if or (eq $v "0") (eq $v "")}} checked{{end}}> {{"禁用"|T}}
                    </label>
                    <div class="fieldset bg-6e hide" id="gzip-settings">
                        {{if eq $v "1"}}{{Include "addon/form/gzip"}}{{end}}
                    </div>
                </div>
              </div>
              
              <div class="form-group">
                <label class="col-sm-2 control-label">{{"FastCGI"|T}}</label>
                <div class="col-sm-8">
                  {{$v := Form "fastcgi"}}
                    <label class="radio-inline">
                      <input type="radio" value="1" name="fastcgi" class="icheck" data-slide-settings="show"{{if eq $v "1"}} checked{{end}}> {{"启用"|T}}
                    </label>
                    <label class="radio-inline">
                      <input type="radio" value="0" name="fastcgi" class="icheck" data-slide-settings="hide"{{if or (eq $v "0") (eq $v "")}} checked{{end}}> {{"禁用"|T}}
                    </label>
                    <div class="fieldset bg-6e hide" id="fastcgi-settings">
                        {{if eq $v "1"}}{{Include "addon/form/fastcgi"}}{{end}}
                    </div>
                </div>
              </div>
              
              <div class="form-group">
                <label class="col-sm-2 control-label">{{"Proxy"|T}}</label>
                <div class="col-sm-8">
                  {{$v := Form "proxy"}}
                    <label class="radio-inline">
                      <input type="radio" value="1" name="proxy" class="icheck" data-slide-settings="show"{{if eq $v "1"}} checked{{end}}> {{"启用"|T}}
                    </label>
                    <label class="radio-inline">
                      <input type="radio" value="0" name="proxy" class="icheck" data-slide-settings="hide"{{if or (eq $v "0") (eq $v "")}} checked{{end}}> {{"禁用"|T}}
                    </label>
                    <div class="fieldset bg-6e hide" id="proxy-settings">
                        {{if eq $v "1"}}{{Include "addon/form/proxy"}}{{end}}
                    </div>
                </div>
              </div>
              
              <div class="form-group">
                <label class="col-sm-2 control-label">{{"备注"|T}}</label>
                <div class="col-sm-8">
                  <textarea class="form-control" name="remark">{{Form "remark"}}</textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{"网站状态"|T}}</label>
                <div class="col-sm-8">
                  {{$v := Form "disabled"}}
                  <label class="radio-inline">
                      <input type="radio" value="N" name="disabled" class="icheck"{{if or (eq $v "N") (eq $v "")}} checked{{end}}> {{"启用"|T}}
                    </label>
                    <label class="radio-inline">
                      <input type="radio" value="Y" name="disabled" class="icheck"{{if eq $v "Y"}} checked{{end}}> {{"禁用"|T}}
                    </label>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{"是否重启"|T}}</label>
                <div class="col-sm-8">
                  <label class="checkbox-inline">
                  <input type="checkbox" class="icheck" name="restart" value="1" /> {{"保存并重启服务器"|T}} 
                  </label>
                </div>
              </div>

              <div class="form-group">
									<div class="col-sm-9 col-sm-offset-2">
									  <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-save"></i> {{"保存"|T}}</button>
									  <button type="reset" class="btn btn-default btn-lg"><i class="fa fa-refresh"></i> {{"重置"|T}}</button>
									</div>
							</div>
            </form>
          </div><!-- /.content -->
        </div><!-- /.block-flat -->
    </div>
</div>
{{/Block}}
{{Block "footer"}}
<script type="text/template" id="tmplAddVariableRow">
<tr>
	<td><input type="text" class="form-control" name="{k}" value=""></td>
	<td><input type="text" class="form-control" name="{v}" value=""></td>
	<td class="text-center">
    <button type="button" class="btn btn-danger" onclick="$(this).parent().parent().remove()">
      <i class="fa fa-times"></i>
    </button>
  </td>
</tr>
</script>
<script>
$(function(){
function addKVs(obj,k,v){
  var tmpl=$('#tmplAddVariableRow').html();
  tmpl=tmpl.replace(/\{k\}/g,k);
  tmpl=tmpl.replace(/\{v\}/g,v);
  $(obj).parent().before(tmpl);
}
$('#fastcgiAddEnvVarBtn').on('click',function(){
  addKVs(this,'fastcgi_env_k','fastcgi_env_v');
});
$('#headerAddVarBtn').on('click',function(){
  addKVs(this,'header_k','header_v');
});
$('#proxyHeaderDownstreamBtn').on('click',function(){
  addKVs(this,'proxy_header_downstream_k','proxy_header_downstream_v');
});
$('#proxyHeaderUpstreamBtn').on('click',function(){
  addKVs(this,'proxy_header_upstream_k','proxy_header_upstream_v');
});
App.iCheck('[data-slide-settings]','click',function(){
  var slide=$(this).data('slide-settings');
  if(slide==""){
    slide=$(this).val()=='1'?'show':'hide';
  }
  var eid='#'+$(this).attr('name')+'-settings';
  var history=$.trim($(eid).html());
  if(slide=='show'){
    if(!history){
      if($(eid).data('history')){
        $(eid).html($(eid).data('history'));
      }else{
        $.get('/addon_form',{addon:$(this).attr('name')},function(r){
          $(eid).html(r);
        },'html');
      }
    }
    $(eid).removeClass('hide');
  }else{
    if(history)$(eid).data('history',history);
    $(eid).empty().addClass('hide');
  }
});
$('[data-slide-settings="show"]:checked').trigger('click');
});
</script>
{{/Block}}