<form class="form-horizontal group-border-dashed" method="POST">
    <div class="form-group">
      <label class="col-sm-2 control-label">{{"验证"|$.T}}</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" name="code" value="{{$.Form `code`}}" required="required" placeholder="{{`验证码`|$.T}}">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">{{"前置条件"|$.T}}</label>
      <div class="col-sm-9">
        {{- $precondition := $.Form `precondition` -}}
        {{- $preconds := Split $precondition `,` -}}
        {{- range $k,$v := $.Stored.step1SafeItems -}}
        <span class="checkbox checkbox-primary checkbox-inline">
          <input type="checkbox" name="precondition" value="{{$v.K}}"{{if InSlice $v.K $preconds}} checked{{end}} id="precondition-{{$v.K}}">
          <label for="precondition-{{$v.K}}">{{$v.V|$.T}}</label>
        </span>
        {{- end -}}
      </div>
    </div>
    <div class="form-group form-submit-group">
      <div class="col-sm-9 col-sm-offset-2">
        <input type="hidden" name="operation" value="modify">
        <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-check"></i> {{"验证并修改"|$.T}}</button>
        <a class="btn btn-default btn-lg" href="{{BackendURL}}/user/gauth_bind?operation=unbind"><i class="fa fa-reply"></i> {{"返回解绑"|$.T}}</a>
      </div>
    </div>
</form>