<div class="xs-margin-bottom" style="background:#efefef;padding:10px">
<a href="javascript:;" onclick="$('#s3browser-accordion').toggleClass('hide')">常用云存储设置说明</a>
<div class="panel-group accordion no-margin hide" id="s3browser-accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title no-margin">
              <a class="collapsed" data-toggle="collapse" data-parent="#s3browser-accordion" href="#s3browser-collapseOne">
                  <i class="fa fa-angle-right"></i> {{`腾讯云COS`|T}}
              </a>
            </h4>
          </div>
          <div id="s3browser-collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
                <ol>
                    <li><code>{{"key"|T}}</code> 输入SecretId值 <a href="https://console.cloud.tencent.com/cam/capi">{{`查看`}}</a></li>
                    <li><code>{{"secret"|T}}</code> 输入SecretKey值</li>
                    <li><code>{{"bucket"|T}}</code> 输入具有“公共读”权限的“存储桶”名称</li>
                    <li><code>{{"region"|T}}</code> 输入地区名称(例如:ap-chengdu)</li>
                    <li><code>{{"endpoint"|T}}</code> 在存储桶信息中的“基础配置”中找到“访问域名”这一项，输入您自己账号中的红色部分的值 例如：https://&lt;存储桶名称&gt;.<code>cos.ap-chengdu.myqcloud.com</code></li>
                </ol>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title no-margin">
              <a class="collapsed" data-toggle="collapse" data-parent="#s3browser-accordion" href="#s3browser-collapseTwo">
                <i class="fa fa-angle-right"></i> {{`阿里云OSS`|T}}
              </a>
            </h4>
          </div>
          <div id="s3browser-collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                <ol>
                    <li><code>{{"key"|T}}</code> 输入 AccessKey ID 值 <a href="https://usercenter.console.aliyun.com/#/manage/ak">{{`查看`}}</a></li>
                    <li><code>{{"secret"|T}}</code> 输入 AccessKey Secret 值</li>
                    <li><code>{{"bucket"|T}}</code> 输入具有“公共读”权限的“存储桶”名称</li>
                    <li><code>{{"region"|T}}</code> 输入地区名称(例如:cn-hongkong)</li>
                    <li><code>{{"endpoint"|T}}</code> 输入“EndPoint（地域节点）”值。例如：oss-cn-hongkong.aliyuncs.com</li>
                </ol>
            </div>
          </div>
        </div>
</div>
</div>
<div class="form-group">
    <label class="col-sm-3 control-label">{{"key"|T}}</label>
    <div class="col-sm-9">
        <input type="text" class="form-control" name="s3browser_key" value="{{Form "s3browser_key"}}" placeholder="" required="required">
    </div>
</div>
<div class="form-group">
    <label class="col-sm-3 control-label">{{"secret"|T}}</label>
    <div class="col-sm-9">
        <input type="text" class="form-control" name="s3browser_secret" value="{{Form "s3browser_secret"}}" placeholder="" required="required">
    </div>
</div>
<div class="form-group">
    <label class="col-sm-3 control-label">{{"bucket"|T}}</label>
    <div class="col-sm-9">
        <input type="text" class="form-control" name="s3browser_bucket" value="{{Form "s3browser_bucket"}}" placeholder="" required="required">
        <div class="help-block">{{`存储桶`|T}}</div>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-3 control-label">{{"region"|T}}</label>
    <div class="col-sm-9">
        <input type="text" class="form-control" name="s3browser_region" value="{{Form "s3browser_region"}}" placeholder="">
        <div class="help-block">{{`地区`|T}}</div>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-3 control-label">{{"endpoint"|T}}</label>
    <div class="col-sm-9">
        <input type="text" class="form-control" name="s3browser_endpoint" value="{{Form "s3browser_endpoint"}}" placeholder="" required="required">
        <div class="help-block">{{`地域节点`|T}}</div>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-3 control-label">{{"缓存时长"|T}}</label>
    <div class="col-sm-9">
        <input type="text" class="form-control" name="s3browser_refresh" value="{{Form "s3browser_refresh" "5m"}}" placeholder="" required="required">
        <div class="help-block">{{`缓存时间的格式为数字和单位字母的组合，有效的单位有："ns", "us" (or "µs"), "ms", "s", "m", "h" 分别表示 "纳秒", "微秒", "毫秒", "秒", "分钟", "小时"`|T}}</div>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-3 control-label">{{"HTTPS"|T}}</label>
    <div class="col-sm-9">{{$v := Form "s3browser_secure"}}
        <div class="radio radio-primary radio-inline"> 
            <input type="radio" value="1" id="s3browser_secure-enable" name="s3browser_secure"{{if or (eq $v "1") (eq $v "")}} checked{{end}}><label for="s3browser_secure-enable">{{"启用"|T}}</label> 
        </div>
        <div class="radio radio-danger radio-inline"> 
            <input type="radio" value="0" id="s3browser_secure-disable" name="s3browser_secure"{{if eq $v "0"}} checked{{end}}><label for="s3browser_secure-disable">{{"禁用"|T}}</label> 
        </div>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-3 control-label">{{"调试模式"|T}}</label>
    <div class="col-sm-9">{{$v := Form "s3browser_debug"}}
        <div class="radio radio-primary radio-inline"> 
            <input type="radio" value="1" id="s3browser_debug-enable" name="s3browser_debug"{{if eq $v "1"}} checked{{end}}><label for="s3browser_debug-enable">{{"启用"|T}}</label> 
        </div>
        <div class="radio radio-danger radio-inline"> 
            <input type="radio" value="0" id="s3browser_debug-disable" name="s3browser_debug"{{if or (eq $v "0") (eq $v "")}} checked{{end}}><label for="s3browser_debug-disable">{{"禁用"|T}}</label> 
        </div>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-3 control-label">{{"自动代理路径"|T}}</label>
    <div class="col-sm-9">{{$v := Form "s3browser_proxypath"}}
        <input type="text" class="form-control" name="s3browser_proxypath" value="{{if $v}}{{$v}}{{else if Stored.isAdd}}/{{end}}" placeholder="">
        <div class="help-block">
            {{"一般需要开启代理来进行访问，如果留空则不自动开启代理。"|T}}<br />
            {{"开启自动代理的时候，会自动往caddyfile写入如下配置"}}:
<pre>
proxy / https://{bucket}.{endpoint} {
    header_upstream Host {bucket}.{endpoint}
}</pre>
        </div>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-3 control-label">{{"对象路径"|T}}</label>
    <div class="col-sm-9">
        <input type="text" class="form-control" name="s3browser_prefix" value="{{Form `s3browser_prefix`}}" placeholder="">
    </div>
</div>
<div class="form-group">
    <label class="col-sm-3 control-label">{{"CDN网址"|T}}</label>
    <div class="col-sm-9">
        <input type="text" class="form-control" name="s3browser_cdnurl" value="{{Form `s3browser_cdnurl`}}" placeholder="">
    </div>
</div>