{{Extend "db/index"}}
{{Block "main"}}
<div class="row">
    <div class="col-md-12">
        <div class="block-flat">
          <div class="header">							
            <h3>{{if eq (Form "type") "variables"}}{{"变量"|T}}{{else}}{{"状态"|T}}{{end}}</h3>
          </div>
          <div class="content">
              <div class="table-responsive">
				<table class="table no-border hover blue">
					<thead class="no-border">
						<tr>
                            <th style="width:30%;"><strong>Name</strong></th>
							<th><strong>Value</strong></th>
						</tr>
					</thead>
					<tbody class="no-border-x" id="info-items">
                        {{range $k,$v := Stored.list}}
						<tr>
							<td>{{$v.k}}</td>
							<td><div class="wrap">{{$v.v}}</div></td>
						</tr>
                        {{end}}
					</tbody>
				</table>
			    </div>
          </div><!-- /.content -->
        </div><!-- /.block-flat -->
    </div>
</div>
{{/Block}}