{{Extend "db/index"}}
{{Block "main"}}
<div class="row">
    <div class="col-md-12">
        <div class="block-flat">
          <div class="header">							
            <h3>{{"用户名"|T}}: {{Form "user"}}@{{Form "host"}}</h3>
          </div>
          <div class="content">
              <form class="form-horizontal group-border-dashed" method="POST" action="">
              <div class="form-group">
                <label class="col-sm-2 control-label">{{"服务器"|T}}</label>
                <div class="col-sm-8">
                    <input type="text" name="host" class="form-control" required="required" value="{{Form "host"}}">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{"用户名"|T}}</label>
                <div class="col-sm-8">
                    <input type="text" name="user" class="form-control" required="required" value="{{Form "user"}}">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{"密码"|T}}</label>
                <div class="col-sm-8">
                    <div class="input-group">
                    <input type="text" name="pass" class="form-control" required="required" value="{{Form "pass"}}">
                    <span class="input-group-addon">
                        <input type="checkbox" name="hashed" value='1'{{if Stored.hashed}} checked{{end}}> 
                        Hashed 
                    </span>
                    </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-8">
                {{$sorts := Stored.sorts}}

                <div class="table-responsive">
				<table class="table no-border hover blue">
					<thead class="no-border">
						<tr>
							<th colspan="2"><strong>{{"权限"|T}}</strong></th>
                            {{range $k,$object := $sorts}}
							<th>
                                {{if eq $object "*.*"}}
                                <input type='hidden' name='objects[{{$k}}]' value='*.*' size='10'>
                                <strong>*.*</strong>
                                {{else}}
                                <input name='objects[{{$k}}]' class="form-control" value='{{$object}}' size='10' autocapitalize='off'>
                                {{end}}
                            </th>
                            {{end}}
						</tr>
					</thead>
					<tbody class="no-border-x" id="database-items">
                        {{$fGrant := Form "grant"}}
                        {{$list := Stored.list}}
                        {{if index $list ""}}
                        {{range $privilege,$comment := index $list ""}}
						<tr>
                            <td colspan="2">{{$privilege}}</td>
                            {{range $k,$object := $sorts}}
							<td>
                                {{$grant := getGrantsByKey $object}}
                                {{$value := getGrantByPrivilege $grant $privilege}}
                                {{$name := fieldName $k $privilege}}
                                {{if $fGrant}}
                                <select name="{{$name}}">
                                    <option value=""></option>
                                    <option value='1'{{if $value}} selected{{end}}>{{"授权"|T}}</option>
                                    <option value='0'{{if not $value}} selected{{end}}>{{"废除"|T}}</option>
                                </select>
                                {{else}}
                                <input type="checkbox" name="{{$name}}" value='1'{{if $value}} checked{{end}}{{if eq $privilege "All privileges"}} id='grants-{{$k}}-all'{{else if eq $privilege "Grant option"}}{{else}} onclick="if (this.checked) $('#grants-{{$k}}-all').prop('checked',false);"{{end}}>
                                {{end}}
                            </td>
                            {{end}}
						</tr>
                        {{end}}
                        {{end}}

                        
                        {{if index $list "Server Admin"}}
                        {{range $privilege,$comment := index $list "Server Admin"}}
						<tr>
                            <td>{{"服务器"|T}}</td>
                            <td>{{$privilege}}</td>
                            
                            {{range $k,$object := $sorts}}
							<td>
                                {{$grant := getGrantsByKey $object}}
                                {{$value := getGrantByPrivilege $grant $privilege}}
                                {{$name := fieldName $k $privilege}}
                                {{if ne (Str Stored.serverAdminObject) $object}}
                                &nbsp;
                                {{else if $fGrant}}
                                <select name="{{$name}}">
                                    <option value="{{$name}}"></option>
                                    <option value='1'{{if $value}} selected{{end}}>{{"授权"|T}}</option>
                                    <option value='0'{{if not $value}} selected{{end}}>{{"废除"|T}}</option>
                                </select>
                                {{else}}
                                <input type="checkbox" name="{{$name}}" value='1'{{if $value}} checked{{end}}{{if eq $privilege "All privileges"}} id='grants-{{$k}}-all'{{else if eq $privilege "Grant option"}}{{else}} onclick="if (this.checked) $('#grants-{{$k}}-all').prop('checked',false);"{{end}}>
                                {{end}}
                            </td>
                            {{end}}
						</tr>
                        {{end}}
                        {{end}}

                        {{if index $list "Databases"}}
                        {{range $privilege,$comment := index $list "Databases"}}
						<tr>
                            <td>{{"数据库"|T}}</td>
                            <td>{{$privilege}}</td>
                            
                            {{range $k,$object := $sorts}}
							<td>
                                {{$grant := getGrantsByKey $object}}
                                {{$value := getGrantByPrivilege $grant $privilege}}
                                {{$name := fieldName $k $privilege}}
                                {{if $fGrant}}
                                <select name="{{$name}}">
                                    <option value=""></option>
                                    <option value='1'{{if $value}} selected{{end}}>{{"授权"|T}}</option>
                                    <option value='0'{{if not $value}} selected{{end}}>{{"废除"|T}}</option>
                                </select>
                                {{else}}
                                <input type="checkbox" name="{{$name}}" value='1'{{if $value}} checked{{end}}{{if eq $privilege "All privileges"}} id='grants-{{$k}}-all'{{else if eq $privilege "Grant option"}}{{else}} onclick="if (this.checked) $('#grants-{{$k}}-all').prop('checked',false);"{{end}}>
                                {{end}}
                            </td>
                            {{end}}
						</tr>
                        {{end}}
                        {{end}}

                        
                        {{if index $list "Tables"}}
                        {{range $privilege,$comment := index $list "Tables"}}
						<tr>
                            <td>{{"表"|T}}</td>
                            <td>{{$privilege}}</td>
                            
                            {{range $k,$object := $sorts}}
							<td>
                                {{$grant := getGrantsByKey $object}}
                                {{$value := getGrantByPrivilege $grant $privilege}}
                                {{$name := fieldName $k $privilege}}
                                {{if $fGrant}}
                                <select name="{{$name}}">
                                    <option value=""></option>
                                    <option value='1'{{if $value}} selected{{end}}>{{"授权"|T}}</option>
                                    <option value='0'{{if not $value}} selected{{end}}>{{"废除"|T}}</option>
                                </select>
                                {{else}}
                                <input type="checkbox" name="{{$name}}" value='1'{{if $value}} checked{{end}}{{if eq $privilege "All privileges"}} id='grants-{{$k}}-all'{{else if eq $privilege "Grant option"}}{{else}} onclick="if (this.checked) $('#grants-{{$k}}-all').prop('checked',false);"{{end}}>
                                {{end}}
                            </td>
                            {{end}}
						</tr>
                        {{end}}
                        {{end}}

                        {{if index $list "Columns"}}
                        {{range $privilege,$comment := index $list "Columns"}}
						<tr>
                            <td>{{"列"|T}}</td>
                            <td>{{$privilege}}</td>
                            
                            {{range $k,$object := $sorts}}
							<td>
                                {{$grant := getGrantsByKey $object}}
                                {{$value := getGrantByPrivilege $grant $privilege}}
                                {{$name := fieldName $k $privilege}}
                                {{if $fGrant}}
                                <select name="{{$name}}">
                                    <option value=""></option>
                                    <option value='1'{{if $value}} selected{{end}}>{{"授权"|T}}</option>
                                    <option value='0'{{if not $value}} selected{{end}}>{{"废除"|T}}</option>
                                </select>
                                {{else}}
                                <input type="checkbox" name="{{$name}}" value='1'{{if $value}} checked{{end}}{{if eq $privilege "All privileges"}} id='grants-{{$k}}-all'{{else if eq $privilege "Grant option"}}{{else}} onclick="if (this.checked) $('#grants-{{$k}}-all').prop('checked',false);"{{end}}>
                                {{end}}
                            </td>
                            {{end}}
						</tr>
                        {{end}}
                        {{end}}

                        {{if index $list "Procedures"}}
                        {{range $privilege,$comment := index $list "Procedures"}}
						<tr>
                            <td>{{"子程序"|T}}</td>
                            <td>{{$privilege}}</td>
                            
                            {{range $k,$object := $sorts}}
							<td>
                                {{$grant := getGrantsByKey $object}}
                                {{$value := getGrantByPrivilege $grant $privilege}}
                                {{$name := fieldName $k $privilege}}
                                {{if $fGrant}}
                                <select name="{{$name}}">
                                    <option value=""></option>
                                    <option value='1'{{if $value}} selected{{end}}>{{"授权"|T}}</option>
                                    <option value='0'{{if not $value}} selected{{end}}>{{"废除"|T}}</option>
                                </select>
                                {{else}}
                                <input type="checkbox" name="{{$name}}" value='1'{{if $value}} checked{{end}}{{if eq $privilege "All privileges"}} id='grants-{{$k}}-all'{{else if eq $privilege "Grant option"}}{{else}} onclick="if (this.checked) $('#grants-{{$k}}-all').prop('checked',false);"{{end}}>
                                {{end}}
                            </td>
                            {{end}}
						</tr>
                        {{end}}
                        {{end}}
					</tbody>
				</table>
			    </div>


                </div>
              </div>

              
              <div class="form-group">
				<div class="col-sm-9 col-sm-offset-2">
				  <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-save"></i> {{"保存"|T}}</button>
				  <button class="btn btn-danger btn-lg"><i class="fa fa-times"></i> {{"删除"|T}}</button>
				</div>
			</div>
              </form>
          </div><!-- /.content -->
        </div><!-- /.block-flat -->
    </div>
</div>
{{/Block}}
{{Block "footer"}}
{{Super}}
{{/Block}}