{{Extend "db/index"}}
{{Block "title"}}{{"SQL命令"|T}} - {{Super}}{{/Block}}
{{Block "breadcrumb"}}
{{Super}}
{{if Stored.dbName}}<li><a href="{{dbMgrURL "listTable" Stored.dbName}}">{{"数据库"|T}}: {{Stored.dbName}}</a></li>{{end}}
<li class="active">{{"SQL命令"|T}}</li>
{{/Block}}
{{Block "head"}}
<!-- codemirror -->
<link rel="stylesheet" href="__ASSETS__/js/codemirror/lib/codemirror.css">
<link rel="stylesheet" href="__ASSETS__/js/codemirror/theme/night.css">
<script src="__ASSETS__/js/codemirror/lib/codemirror.js"></script>
<script src="__ASSETS__/js/codemirror/addon/mode/loadmode.js"></script>
<style>
.CodeMirror {
    border: 1px solid #ccc;
    min-height:350px
}
</style>
{{/Block}}
{{Block "main"}}
<div class="row">
    <div class="col-md-12">
        {{Include "db/mysql/dbinfo_btn"}}
        {{if Stored.columns}}
        <div class="block-flat">
          <div class="header">
            <h3>{{"数据"|T}}</h3>
          </div>
          <div class="content">
             <div class="table-responsive">
				<table class="table no-border hover blue">
					<thead class="no-border">
						<tr>{{range $k, $colName := Stored.columns}}
							<th><strong>{{$colName}}</strong></th>
                            {{end}}
						</tr>
					</thead>
					<tbody class="no-border-x" id="tbody-content">
                        {{range $k,$v := Stored.values}}
						<tr>
                            {{range $k, $colName := Stored.columns}}
                            <td>{{(index $v $colName).String}}</td>
                            {{end}}
						</tr>
                        {{end}}
					</tbody>
				</table>		
			    </div>
                <fieldset>
                     <legend>{{"已选中"|T}} (<span id="selected-items-count">0</span>)</legend>
                     <button type="button" class="btn btn-default" id="analyze-selected">{{"分析"|T}}</button>
                </fieldset>
          </div><!-- /.content -->
        </div><!-- /.block-flat -->
        {{end}}
        <div class="block-flat no-padding">
          <div class="content no-padding">
              <form class="form-horizontal group-border-dashed" method="POST" action="">
              <div class="form-group">
				<div class="col-sm-12">
                    <textarea name="query" id="query" class="form-control">{{Form "query"}}</textarea>
                </div>
              </div>
              <div class="form-group">
				<div class="col-sm-12">
				    <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-check"></i> {{"执行"|T}}</button>
                    <label for="limit">{{"行数"|T}}: </label><input name="limit" id="limit" type="number" style="width:100px" class="form-control inline" />
                    <label>
                        <input name="error_stops" id="error_stops" type="checkbox" class="icheck" />
                        {{"出错时停止"|T}}
                    </label>
                    <label>
                        <input name="only_errors" id="only_errors" type="checkbox" class="icheck" />
                        {{"只显示错误"|T}}
                    </label>
				</div>
			    </div>
              </form>
          </div><!-- /.content -->
        </div><!-- /.block-flat -->
    </div>
</div>
{{/Block}}
{{Block "footer"}}
{{Super}}
<script>
var editor;
CodeMirror.modeURL = "__ASSETS__/js/codemirror/mode/%N/%N.js";
function initCodeMirrorEditor() {
    if(editor)return;
    editor = CodeMirror.fromTextArea($("#query")[0], {
        lineNumbers: true
    });
    editor.setOption('lineWrapping', true);
    //editor.setSize('auto', 'auto');
    editor.setOption("mode", "text/x-{{Form "driver"}}");
    CodeMirror.autoLoadMode(editor, "sql");
}
$(function(){
    initCodeMirrorEditor();
});
</script>
{{/Block}}