{{$config := $.Stored.captcha}}
<div class="form-group">
    <label class="col-sm-2 control-label">{{"验证码类型"|$.T}}</label>
    <div class="col-sm-10">{{$type := $config.type.Value|Default `default`}}
        <div class="radio radio-primary radio-inline">
            <input type="radio" name="captcha[type][value]" value="default"{{if eq $type `default` ``}} checked{{end}} id="captcha-type-default">
            <label for="captcha-type-default">{{"内置默认"|$.T}}</label>
        </div>
        <div class="radio radio-primary radio-inline">
            <input type="radio" name="captcha[type][value]" value="api"{{if eq $type `api`}} checked{{end}} id="captcha-type-api">
            <label for="captcha-type-api">{{"第三方接口"|$.T}}</label>
        </div>
    </div>
</div>
<div class="form-group" id="settings-captcha-api">
    <label class="col-sm-2 control-label">{{"服务商"|$.T}}</label>
    {{$provider := $config.api.ValueObject.provider|Default `turnstile`}}
    <div class="col-sm-10">
        <div class="radio radio-primary radio-inline">
            <input type="radio" name="captcha[api][value][provider]" value="turnstile"{{if eq $provider `turnstile` ``}} checked{{end}} id="captcha-api-provider-turnstile">
            <label for="captcha-api-provider-turnstile">Cloudflare Turnstile</label>
        </div>
        <div class="radio radio-primary radio-inline">
            <input type="radio" name="captcha[api][value][provider]" value="recaptcha"{{if eq $provider `recaptcha`}} checked{{end}} id="captcha-api-provider-recaptcha">
            <label for="captcha-api-provider-recaptcha">Google Recaptcha(V3)</label>
        </div>

        <div class="fieldset bg-fc" id="settings-captcha-api-turnstile">
            <div class="form-group">
                <label class="col-sm-2 control-label">{{"站点密钥"|$.T}}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="captcha[api][value][turnstile][siteKey]" value="{{$config.api.ValueObject.turnstile.siteKey}}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{"密钥"|$.T}}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="captcha[api][value][turnstile][secret]" value="{{$config.api.ValueObject.turnstile.secret}}">
                </div>
            </div>
        </div>

        <div class="fieldset bg-fc" id="settings-captcha-api-recaptcha">
            <div class="form-group">
                <label class="col-sm-2 control-label">{{"站点密钥"|$.T}}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="captcha[api][value][recaptcha][siteKey]" value="{{$config.api.ValueObject.recaptcha.siteKey}}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{"密钥"|$.T}}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="captcha[api][value][recaptcha][secret]" value="{{$config.api.ValueObject.recaptcha.secret}}">
                </div>
            </div>
        </div>
    </div>
</div>