{{$config := $.Stored.captcha}}
<div class="form-group">
    <label class="col-sm-2 control-label">{{"验证码类型"|$.T}}</label>
    <div class="col-sm-10">{{$type := $config.type.Value|Default `default`}}
        <div class="radio radio-primary radio-inline">
            <input type="radio" name="captcha[type][value]" value="default"{{if eq $type `default` ``}} checked{{end}} id="captcha-type-default">
            <label for="captcha-type-default">{{"内置默认"|$.T}}</label>
        </div>
        <div class="radio radio-primary radio-inline">
            <input type="radio" name="captcha[type][value]" value="api"{{if eq $type `api`}} checked{{end}} id="captcha-type-api">
            <label for="captcha-type-api">{{"第三方接口"|$.T}}</label>
        </div>
    </div>
</div>
<div class="form-group" id="settings-captcha-api">
    <label class="col-sm-2 control-label">{{"服务商"|$.T}}</label>
    {{- $provider := $config.api.ValueObject.provider|Default `turnstile` -}}
    <div class="col-sm-10">
        <div class="radio radio-primary radio-inline">
            <input type="radio" name="captcha[api][value][provider]" value="turnstile"{{if eq $provider `turnstile` ``}} checked{{end}} id="captcha-api-provider-turnstile">
            <label for="captcha-api-provider-turnstile">Cloudflare Turnstile</label>
        </div>
        <div class="radio radio-primary radio-inline">
            <input type="radio" name="captcha[api][value][provider]" value="recaptcha"{{if eq $provider `recaptcha`}} checked{{end}} id="captcha-api-provider-recaptcha">
            <label for="captcha-api-provider-recaptcha">Google Recaptcha(V3)</label>
        </div>

        <div class="fieldset bg-fc" id="settings-captcha-api-turnstile">
            <div class="form-group">
                <label class="col-sm-2 control-label">{{"站点密钥"|$.T}}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="captcha[api][value][turnstile][siteKey]" value="{{$config.api.ValueObject.turnstile.siteKey}}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{"密钥"|$.T}}</label>
                <div class="col-sm-10">
                    <span class="input-group">
                    <input type="password" class="form-control" name="captcha[api][value][turnstile][secret]" value="{{$config.api.ValueObject.turnstile.secret}}" autocomplete="off">
                    <span class="input-group-btn">
                    <a href="javascript:;" data-target="[name='captcha[api][value][turnstile][secret]']" class="btn btn-default show-password">
                      <i class="fa fa-eye"></i>
                      {{`查看`|$.T}}
                    </a>
                    </span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{"验证IP"|$.T}}</label>
                {{- $verifyIP := $config.api.ValueObject.turnstile.verifyIP|Default `0` -}}
                <div class="col-sm-4">
                    <div class="radio radio-success radio-inline">
                        <input type="radio" name="captcha[api][value][turnstile][verifyIP]" value="1"{{if eq $verifyIP `1`}} checked{{end}} id="captcha-api-turnstile-verifyIP-1">
                        <label for="captcha-api-turnstile-verifyIP-1">{{`验证`|$.T}}</label>
                    </div>
                    <div class="radio radio-danger radio-inline">
                        <input type="radio" name="captcha[api][value][turnstile][verifyIP]" value="0"{{if eq $verifyIP `0`}} checked{{end}} id="captcha-api-turnstile-verifyIP-0">
                        <label for="captcha-api-turnstile-verifyIP-0">{{`不验证`|$.T}}</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="fieldset bg-fc" id="settings-captcha-api-recaptcha">
            <div class="form-group">
                <label class="col-sm-2 control-label">{{"站点密钥"|$.T}}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="captcha[api][value][recaptcha][siteKey]" value="{{$config.api.ValueObject.recaptcha.siteKey}}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{"密钥"|$.T}}</label>
                <div class="col-sm-10">
                    <span class="input-group">
                    <input type="password" class="form-control" name="captcha[api][value][recaptcha][secret]" value="{{$config.api.ValueObject.recaptcha.secret}}" autocomplete="off">
                    <span class="input-group-btn">
                    <a href="javascript:;" data-target="[name='captcha[api][value][recaptcha][secret]']" class="btn btn-default show-password">
                      <i class="fa fa-eye"></i>
                      {{`查看`|$.T}}
                    </a>
                    </span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{"最低评分"|$.T}}</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" name="captcha[api][value][recaptcha][minScore]" value="{{$config.api.ValueObject.recaptcha.minScore|Default `0.5`}}" min="0.00" step="0.01" max="1.00">
                    <div class="help-block">{{`取值范围`|$.T}} 0.00 ~ 1.00</div>
                </div>
                <label class="col-sm-2 control-label">{{"验证IP"|$.T}}</label>
                {{- $verifyIP := $config.api.ValueObject.recaptcha.verifyIP|Default `0` -}}
                <div class="col-sm-4">
                    <div class="radio radio-success radio-inline">
                        <input type="radio" name="captcha[api][value][recaptcha][verifyIP]" value="1"{{if eq $verifyIP `1`}} checked{{end}} id="captcha-api-recaptcha-verifyIP-1">
                        <label for="captcha-api-recaptcha-verifyIP-1">{{`验证`|$.T}}</label>
                    </div>
                    <div class="radio radio-danger radio-inline">
                        <input type="radio" name="captcha[api][value][recaptcha][verifyIP]" value="0"{{if eq $verifyIP `0`}} checked{{end}} id="captcha-api-recaptcha-verifyIP-0">
                        <label for="captcha-api-recaptcha-verifyIP-0">{{`不验证`|$.T}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>