{{Extend "layout"}}
{{Block "title"}}{{"数据库管理"|T}}{{/Block}}
{{Block "breadcrumb"}}
{{Include "db/logout_button"}}
{{Super}}
<li><a href="__BACKEND__/db">{{T "%s管理" Stored.dbType}}</a></li>
{{/Block}}
{{Block "head"}}
<link rel="stylesheet" type="text/css" href="__ASSETS__/js/jquery.nanoscroller/nanoscroller.css" />
<link rel="stylesheet" type="text/css" href="__ASSETS__/js/bootstrap.slider/css/slider.css" />
{{/Block}}
{{Block "bodyNav"}}
{{if Stored.Get "signedIn"}}
  <div class="page-aside app codeditor tree">
      <a class="label label-primary collapsed-button"><i class="fa fa-angle-double-right"></i></a>
      <div class="fixed nano nscroller">
        <div class="content">
          <div class="header xs-padding-bottom no-padding-top">
            <button class="navbar-toggle" data-target=".app-nav" data-toggle="collapse" type="button">
              <span class="fa fa-chevron-down"></span>
            </button>
            <a class="label label-primary collapse-button"><i class="fa fa-angle-double-left"></i></a>
            <h2 class="page-title" title="{{Stored.Get "dbHost"}}">{{Stored.Get "dbHost"}}</h2>
            <p class="description">
            <span class="label label-default" title="{{Stored.Get "driver"}} {{Stored.Get "dbVersion"}}">
               {{Stored.Get "driver"}} {{Stored.Get "dbVersion"}}
            </span>
            </p>
            {{$dbList := Stored.Get "dbList"}}
            {{$dbName := Stored.Get "dbName"}}
            {{if $dbList}}
            <div class="input-group no-margin-bottom">
              <span class="input-group-addon">{{"数据库"|T}}</span>
              <select name="db" class="form-control" id="dbmanager-db-list">
                <option value="">{{"<未选择>"|}}</option>
                {{range $k,$v:=$dbList}}
                <option value="{{$v}}"{{if eq $dbName $v}} selected{{end}}>{{$v}}</option>
                {{end}}
              </select>
            </div>
            {{end}}
          </div> 
        <div class="app-nav collapse sm-line-height no-margin-top">
          <p class="title">{{"数据表"|T}}</p>
          {{if $dbName}}
          <ul class="nav nav-pills nav-stacked" id="dbmanager-table-list">
              {{$tableList := Stored.Get "tableList"}}
              {{if $tableList}}
              {{$currentTable := Stored.table}}
              {{range $k,$v:=$tableList}}
              <li{{if eq $currentTable $v}} class="active"{{end}}>
                <a href="{{dbMgrURL "listData" $dbName $v}}" title="{{"查询"|T}}" class="fa fa-search {{Stored.operation}}" data-pjax="#pcont" data-keepjs="true" data-onclick="dbNavClick"></a>
                <a href="{{dbMgrURL "viewTable" $dbName $v}}" title="{{$v}}" data-pjax="#pcont" data-keepjs="true" data-onclick="dbNavClick">{{$v}}</a>
              </li>
              {{end}}
              {{end}}
          </ul>

          <div class="compose">
            <div class="btn-group">
            <a href="{{dbMgrURL "runCommand" $dbName}}" class="btn btn-flat btn-xs btn-info" data-pjax="#pcont" data-keepjs="true">{{"SQL命令"|T}}</a>
            <a href="{{dbMgrURL "createTable" $dbName}}" class="btn btn-flat btn-xs btn-primary" data-pjax="#pcont" data-keepjs="true">{{"创建表"|T}}</a>
            <a href="{{dbMgrURL "modifyDb" $dbName}}" class="btn btn-flat btn-xs btn-success" data-pjax="#pcont" data-keepjs="true">{{"修改库"|T}}</a>
            <a href="{{dbMgrURL "import" $dbName}}" class="btn btn-flat btn-xs btn-warning" data-pjax="#pcont" data-keepjs="true">{{"导入"|T}}</a>
            <a href="{{dbMgrURL "export" $dbName}}" class="btn btn-flat btn-xs btn-danger" data-pjax="#pcont" data-keepjs="true">{{"导出"|T}}</a>
            </div>
          </div>
          {{end}}
        </div><!-- .app-nav -->
        </div>
        
      </div>
	</div>		
{{end}}
{{/Block}}

{{Block "main"}}
{{Include "db/_login"}}
{{/Block}}

{{Block "footer"}}
{{- $pjax:=Form "_pjax" -}}
{{- if ne $pjax "#pcont" -}}
<script src="__ASSETS__/js/bootstrap.slider/js/bootstrap-slider.min.js" type="text/javascript"></script>
<script>
function dbNavClick(a){
  $(a).parent('li').addClass('active').siblings('li.active').removeClass('active');
}
$(function(){
{{- if Stored.Get "signedIn" -}}
      $(window).on('resize',function(){
          var fixedDiv=$(".page-aside div.fixed");
          if(!fixedDiv.find(".content > .header > .navbar-toggle").is(":visible")){
            fixedDiv.css({bottom:0,height:$(window).height()-50});
          }else{
            fixedDiv.css({height:'100%'});
          }
      }).trigger('resize');

      $('label.tree-toggler').click(function () {
        var icon = $(this).children(".fa");
        if(icon.hasClass("fa-folder-o")){
          icon.removeClass("fa-folder-o").addClass("fa-folder-open-o");
        }else{
          icon.removeClass("fa-folder-open-o").addClass("fa-folder-o");
        }

        $(this).parent().children('ul.tree').toggle(300,function(){
          $(this).parent().toggleClass("open");
          $(".tree .nscroller").nanoScroller({ preventPageScrolling: true });
          $(window).trigger('resize');
        });
        
      }).trigger('click');
  
      $('#dbmanager-db-list').on('change',function(){
        var db=$(this).val();
        if(db){
          window.location='{{dbMgrURL "listTable"}}&db='+db;
        }else{
          window.location='{{dbMgrURL "listDb"}}';
        }
      });
      $('#sidebar-collapse').trigger('click');
      App.pageAside();
      App.tableReponsiveInit();
      if($('#dbmanager-table-list').length>0){
        var activeElem=$('#dbmanager-table-list').find('li.active');
        if(activeElem.length>0) $('#main-container > .page-aside > .nano').nanoScroller({ scrollTo: activeElem });
      }
{{- end -}}
  $('#sel-driver').on('change',function(){
    var v=$(this).val(),cs=$('#charset-container');
    v=='mysql'?cs.show():cs.hide();
  }).trigger('change');
});
</script>
{{end}}<!-- ne $pjax "#pcont" -->
{{/Block}}