{{Strip}}
{{$pjax := Form "_pjax"}}
{{if $pjax}}<title>{{Block "title"}}Start{{/Block}} - {{Version}}</title>
	{{if eq $pjax "#main-container"}}
		{{Block "head"}}{{/Block}}
		{{Block "bodyNav"}}{{/Block}}
		<div class="container-fluid" id="pcont">
			{{if hasAnyBlock "name" "breadcrumb"}}
			<div class="page-head">
				<h2>{{Block "name"}}{{/Block}}</h2>
				<ol class="breadcrumb">
				  {{Block "breadcrumb"}}
				  <li><a href="__BACKEND__/index">Home</a></li>
				  {{/Block}}
				</ol>
			</div>
			{{end}}
		    <div class="cl-mcont">{{Block "main"}}{{/Block}}</div>
		</div><!-- #pcont -->
		{{Block "footer"}}{{/Block}}
	{{else if eq $pjax "#pcont"}}
		{{Block "head"}}{{/Block}}
		{{if hasAnyBlock "name" "breadcrumb"}}
		<div class="page-head">
			<h2>{{Block "name"}}{{/Block}}</h2>
			<ol class="breadcrumb">
			  {{Block "breadcrumb"}}
			  <li><a href="__BACKEND__/index">Home</a></li>
			  <!-- <li class="active">Current</li> -->
			  {{/Block}}
			</ol>
		</div>
		{{end}}
		<div class="cl-mcont">{{Block "main"}}{{/Block}}</div>
		{{Block "footer"}}{{/Block}}
	{{else}}
		{{Block "head"}}{{/Block}}
		{{Block "main"}}{{/Block}}
		{{Block "footer"}}{{/Block}}
	{{end}}
{{else}}
<!DOCTYPE html>
<html lang="{{Lang}}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{"Nging管理面板登录"|T}}">
	<meta name="author" content="admpub">
	<meta name="buildTime" content="{{BuildTime}}">
	<meta name="commitID" content="{{CommitID}}">
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
	<title>{{Block "title"}}Start{{/Block}} - {{Version}}</title>
	<link rel="stylesheet" href="__ASSETS__/css/reset.css?t={{BuildTime}}" />
	<link rel='stylesheet' href='__ASSETS__/css/font_OpenSans400_300_600_400italic_700_800.css?t={{BuildTime}}' type='text/css' />
	<link rel='stylesheet' href='__ASSETS__/css/font_Raleway_300_200_100.css?t={{BuildTime}}' type='text/css' />
  <link rel="stylesheet" href="__ASSETS__/css/iconfont/iconfont.css?t={{BuildTime}}">
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="__ASSETS__/js/bootstrap/dist/css/bootstrap.min.css?t={{BuildTime}}" />
	<link rel="stylesheet" href="__ASSETS__/fonts/font-awesome/css/font-awesome.min.css?t={{BuildTime}}">
	<link rel="stylesheet" href="__ASSETS__/js/jquery.gritter/css/jquery.gritter.min.css?t={{BuildTime}}" />
	<link rel="stylesheet" href="__ASSETS__/js/jquery.gritter/css/custom.min.css?t={{BuildTime}}" />
  <link rel="stylesheet" href="__ASSETS__/js/jquery.nanoscroller/nanoscroller.css?t={{BuildTime}}" />
  <link rel="stylesheet" href="__ASSETS__/js/bootstrap.switch/bootstrap-switch.css?t={{BuildTime}}" />
	<link rel="stylesheet" href="__ASSETS__/js/jquery.niftymodals/css/component.css?t={{BuildTime}}" />
	<link rel="stylesheet" href="__ASSETS__/js/bootstrap.typeahead/typeahead.css?t={{BuildTime}}" />
	<link rel="stylesheet" href="__ASSETS__/css/form/checkbox.css?t={{BuildTime}}" />
	{{Include "global_js"}}
    {{Block "head"}}{{/Block}}
	<!-- Custom styles for this template -->
	<link href="__ASSETS__/css/style.min.css?t={{BuildTime}}" rel="stylesheet" />
</head>
 
<body{{Block "bodyAttr"}}{{/Block}}>
	<div id="cl-wrapper" class="no-padding">
		<div class="cl-body">
		<div id="main-container">
		{{Block "bodyNav"}}{{/Block}}
		<div class="container-fluid" id="pcont">
			{{if hasAnyBlock "name" "breadcrumb"}}
			<div class="page-head">
				<ol class="breadcrumb">
				  {{Block "breadcrumb"}}
				  <li><a href="__BACKEND__/index">Home</a></li>
				  <!-- <li class="active">Current</li> -->
				  {{/Block}}
				</ol>
			</div>
			{{end}}
		    <div class="cl-mcont{{if hasAnyBlock "bodyClass"}} {{Block "bodyClass"}}{{/Block}}{{end}}">{{Block "main"}}{{/Block}}</div>
		</div><!-- #pcont -->
		</div><!-- #main-container -->
		</div><!-- .cl-right -->
	</div><!-- #cl-wrapper -->

<script src="__ASSETS__/js/jquery.js?t={{BuildTime}}"></script>
<script src="__ASSETS__/js/modernizr.js?t={{BuildTime}}" type="text/javascript"></script>
<script type="text/javascript" src="__ASSETS__/js/jquery.nanoscroller/jquery.nanoscroller.js?t={{BuildTime}}"></script>
<script type="text/javascript" src="__ASSETS__/js/bootstrap.switch/bootstrap-switch.min.js?t={{BuildTime}}"></script>
<!--<script type="text/javascript" src="__ASSETS__/js/jquery.nestable/jquery.nestable.js"></script>-->
<script type="text/javascript" src="__ASSETS__/js/jquery.pjax.min.js?t={{BuildTime}}"></script>
<script type="text/javascript" src="__ASSETS__/js/jquery.niftymodals/js/jquery.modalEffects.min.js?t={{BuildTime}}"></script>
<script type="text/javascript" src="__ASSETS__/js/behaviour/sprintf.min.js?t={{BuildTime}}"></script>
<script type="text/javascript" src="__ASSETS__/js/behaviour/general.min.js?t={{BuildTime}}"></script>
<script type="text/javascript" src="__ASSETS__/js/jquery.gritter/js/jquery.gritter.min.js?t={{BuildTime}}"></script>
<script type="text/javascript" src="__ASSETS__/js/bootstrap/dist/js/bootstrap.min.js?t={{BuildTime}}"></script>
<script type="text/javascript" src="__ASSETS__/js/storeWithJson2.min.js?t={{BuildTime}}"></script>
<script type="text/javascript" src="__ASSETS__/js/bootstrap.typeahead/typeahead.bundle.min.js?t={{BuildTime}}"></script>
<script type="text/javascript" src="__ASSETS__/js/jquery.parsley/parsley.min.js?t={{BuildTime}}"></script>
<script type="text/javascript" src="__ASSETS__/js/jquery.parsley/i18n/{{(Replace Lang `-` `_` -1)|ToLower}}.js?t={{BuildTime}}" charset="utf-8"></script>
{{Block "importJS"}}{{/Block}}
{{Include "init_js"}}
<script type="text/javascript" src="__ASSETS__/js/behaviour/page/footer.min.js?t={{BuildTime}}"></script>
{{Block "footer"}}{{/Block}}
{{- range $k,$footer := GlobalFooters -}}
{{- if $footer -}}
{{- if $footer.Tmpl}}{{Fetch $footer.Tmpl $}}{{end -}}
{{- end -}}
{{- end -}}
<div id="loading-status"><i class="fa fa-spinner fa-spin fa-3x"></i></div>
<script type="text/javascript" async src="{{TrackerURL}}"></script>
</body>
</html>
{{end}}
{{/Strip}}