{{Extend "layout"}}
{{Block "title"}}{{$.Stored.pageData.Title}}{{/Block}}
{{Block "headEnd"}}
{{- if $.Stored.pageData.Header -}}
{{$.Fetch $.Stored.pageData.Header $}}
{{- end -}}
{{end}}
{{Block "breadcrumb"}}
{{Super}}
{{- range $li, $lv := $.Stored.pageData.Breadcrumb -}}
{{- if $lv.Path -}}
<li><a href="{{WithURLParams $lv.Path `next` $.RequestURI}}">{{if $lv.Icon}}<i class="fa fa-{{$lv.Icon}}"></i> {{end}}{{$lv.K|$.T}}</a></li>
{{- else -}}
<li>{{if $lv.Icon}}<i class="fa fa-{{$lv.Icon}}"></i> {{end}}{{$lv.Title|$.T}}</li>
{{- end -}}
<li class="active">{{$.Stored.pageData.Title}}</li>
{{/Block}}
{{Block "main"}}
<div class="row">
  <div class="col-md-12">
    <div class="block-flat no-padding">
      <div class="header">
        {{- range $.Stored.pageData.TopButtons -}}
        <a href="{{.URL}}" class="btn{{if .Float}} pull-{{.Float}}{{end}}{{if .Class}} {{.Class}}{{else}} btn-success{{end}}"{{if .Style}} style="{{.Style}}"{{end}}{{range $k,$v:=.Attrs}} {{$k}}="{{$v}}"{{end}}>
        {{if .Icon}}<i class="fa fa-{{.Icon}}"></i> {{end}}{{.Title|$.T}}
        </a>
        {{- end -}}
        <h3>{{$.Stored.pageData.Title}}</h3>
      </div>
      <div class="content">
		<div class="table-responsive">
        {{$.RenderWithData $.Stored.pageData.Body $.Stored.pageData.Data}}
		</div>
		{{- $.Stored.pagination.Render}}
      </div><!-- /.content -->
    </div><!-- /.block-flat -->
  </div>
</div>
{{/Block}}
{{Block "footer"}}
{{- if $.Stored.pageData.Footer -}}
<script src="{{AssetsURL}}/js/loader/loader.min.js?t={{BuildTime}}"></script>
<script src="{{AssetsURL}}/js/editor/editor.min.js?t={{BuildTime}}"></script>
{{$.Fetch $.Stored.pageData.Footer $}}
{{- end -}}
{{/Block}}