.login-container .middle-login {
  width: 430px;
  left: 50%;
  top: 50%;
  position: absolute;
  margin-top: -200px;
  margin-left: -215px;
}
.login-container .block-flat {
  padding: 0;
  border: 0;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);
  margin-bottom: 20px;
}
.header .logo-img {
  margin-right: 3px;
  width:35px;height:35px;
}
.login-container .block-flat .content {
  padding: 30px;
  padding-bottom: 5px;
}
.login-container .block-flat .content .form-control {
  padding: 10px 8px;
  height: auto;
}
.login-container .block-flat .content .form-group {
  margin-bottom: 10px;
}
.login-container .block-flat .content .title {
  margin-top: 0;
  margin-bottom: 20px;
}
.login-container .block-flat .foot {
  text-align: right;
  padding: 0 30px 30px;
}
.login-container .block-flat .foot .btn {
  min-width: 70px;
}
.login-container .block-flat .input-group-addon {
  background: #FAFAFA;
}
.login-container .out-links a {
  color: #C9D4F6;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}
.login-container .login-buttons{display:table}
.login-container .login-buttons .btn{display:table-cell;float:none;margin:0 !important;padding-top:10px;padding-bottom:10px}
.login-container .login-buttons .btn:last-child{width:100%}
.login-container .wg-cap-container{width:auto !important}
.login-container fieldset.fieldset legend{margin:auto}
#cl-wrapper.sign-up-container{min-height:520px;}
.sign-up-container .middle-sign-up {
  width: 470px;
  left: 50%;
  top: 50%;
  position: absolute;
  margin-top: -242px;
  margin-left: -235px;
}
.forgotpassword-container .middle {
  width: 470px;
  margin: 20px auto 0 auto;
}
.sign-up-container .block-flat,
.forgotpassword-container .block-flat {
  padding: 0;
  border: 0;
  overflow: hidden;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);
  margin-bottom: 20px;
}
.sign-up-container .block-flat .header,
.forgotpassword-container .block-flat .header {
  padding: 9px 20px;
  background: #2494f2;
  border-bottom: 1px solid #2494f2;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  -webkit-border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
}
.sign-up-container .block-flat .header h3,
.forgotpassword-container .block-flat .header h3 {
  line-height: 35px;
  margin: 0;
  color: #FFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  position: relative;
  min-height: 40px;
}
.sign-up-container .block-flat .content,
.forgotpassword-container .block-flat .content {
  padding: 30px;
}
.sign-up-container .block-flat .content .form-control,
.forgotpassword-container .block-flat .content .form-control {
  padding: 10px 8px;
  height: auto;
}
.sign-up-container .block-flat .content .form-group {
  margin-bottom: 10px;
}
.sign-up-container .block-flat .content .title {
  margin-top: 0;
  margin-bottom: 20px;
}
.sign-up-container .block-flat .foot,
.forgotpassword-container .block-flat .foot {
  text-align: right;
  padding: 0 30px 30px;
}
.sign-up-container .block-flat .foot .btn,
.forgotpassword-container .block-flat .foot .btn {
  min-width: 70px;
}
.sign-up-container .block-flat .input-group-addon,
.forgotpassword-container .block-flat .input-group-addon {
  background: #FAFAFA;
}
.sign-up-container .out-links,
.forgotpassword-container .out-links {
  padding-right: 3px;
}
.sign-up-container .out-links a,
.forgotpassword-container .out-links a {
  color: #C9D4F6;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}
@media (max-width: 470px) {
  .sign-up-container .middle-sign-up {
    width: 100%;
    margin-left: -50%;
  }
  .forgotpassword-container .middle {
    width: 100%;
  }
  .forgotpassword-container {
    padding: 20px;
  }
  .sign-up-container .middle-sign-up .block-flat {
    border-radius: 0;
  }
}
@media (max-width: 430px) {
  .login-container .middle-login {
    width: 100%;
    margin-left: 0px;
    padding: 0 15px;
    left: auto;
  }
}