
.table-responsive.overflow {
  margin-bottom: 15px;
  overflow-x: auto;
  /* overflow-y: hidden; */
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border: 1px solid #ddd;
}
.table-responsive.overflow table{
    margin-bottom:0;
}
.label-hover-show{
  display:none !important;
  position:absolute;
  opacity:.9;
}
*:hover > .label-hover-show{
  display:inline !important;
}
.tooltip-inner{max-width: 100vw !important;}
.input-group > .sp_container{float:left !important;}
.input-group .sp_container+.input-group-addon{
  border-left:0 !important;
}
/* dropzone */
.dropzone .dz-default.dz-message {
  background-image: none;
  font-size: 24px;
  text-align: center;
  line-height: 32px;
  left: 0;
  width: 100%;
  margin-left: auto;
}
.dropzone .dz-default.dz-message span{
  display: inline;
  color: #555;
}
.dropzone .dz-default.dz-message span .grey{color:grey !important}
.dropzone .dz-preview.dz-success .dz-success-mark {
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  -o-animation: none;
  animation: none;
  opacity: 1;
}
.dz-preview.dz-success:hover .dz-success-mark {
  opacity: 0;
}
table.sticky-thead > thead tr > th {
  position: sticky;
  top: 0;
  background-color: white;
}
table.sticky-first-col > thead tr > th:first-child,
table.sticky-last-col > thead tr > th:last-child,
table thead tr > th.sticky {
  z-index: 1;
}
table.sticky-first-col > thead tr > th:first-child,
table.sticky-first-col > tbody tr > td:first-child,
table.sticky-last-col > thead tr > th:last-child,
table.sticky-last-col > tbody tr > td:last-child,
table thead tr > th.sticky,
table tbody tr > td.sticky {
  position: sticky;
}
table.sticky-first-col > thead tr > th:first-child,
table.sticky-first-col > tbody tr > td:first-child {
    left: 0;
    box-shadow: 5px 0px 10px rgba(136, 136, 136, 0.3);
}
table.sticky-last-col > thead tr > th:last-child,
table.sticky-last-col > tbody tr > td:last-child {
    right: 0;
    box-shadow: -5px 0px 10px rgba(136, 136, 136, 0.3);
}
thead.always-top,table.sticky-thead > thead tr > th{
  box-shadow: 0 3px 3px rgba(136, 136, 136, 0.3);
}
.text-xs-70{font-size:0.7em !important}
.text-xs-75{font-size:0.75em !important}
.text-xs-80{font-size:0.8em !important}
.text-xs-85{font-size:0.85em !important}
.text-xs-90{font-size:0.9em !important}
.text-xs-95{font-size:0.95em !important}
.bootstrap-table .fixed-table-toolbar .btn-group{margin-right:0;margin-left:0}