
.table-responsive.overflow {
  margin-bottom: 15px;
  overflow-x: scroll;
  /* overflow-y: hidden; */
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border: 1px solid #ddd;
}
.table-responsive.overflow table{
    margin-bottom:0;
}