.select2-container-multi .select2-choices,
.select2-container .select2-choice,
div.sp_container_combo {
    box-shadow: 0 1px 0 rgba(255, 255, 255, .07), 0 1px 2px rgba(0, 0, 0, .15) inset !important;
    border: 1px solid rgba(0, 0, 0, .5) !important;
    color: #ccc !important;
}

.select2-container-multi .select2-choices,
.select2-container .select2-choice,
.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-ajax-error,
.select2-results .select2-selection-limit,
div.sp_container_combo,
.sp_pagination {
    background-color: #13151d !important;
}

.sp_result_area,
.sp_results,
.sp_results>li,
.select2-drop,
.select2-drop {
    background-color: #13151d !important;
    color: #ccc !important
}

ul.sp_results > li.sp_selected{
    color: #555 !important
}

.sp_control_box,.sp_control_box:hover,
div.sp_result_area div.sp_pagination>ul>li>a {
    background-color: #191c27 !important;
}

div.sp_result_area div.sp_pagination>ul>li>a:hover{
    color: #ccc !important;
}

div.sp_result_area div.sp_pagination>ul>li.pageInfoBox>a {
    color: #ccc !important;
}

div.sp_result_area div.sp_pagination>ul>li.disabled>a {
    color: #777 !important;
}

div.sp_result_area div.sp_pagination>ul>li.disabled>a:hover {
    background-color: #191c27 !important;
    color: #777 !important;
}

.sp_control_box button,
.sp_control_box button.btn-default i {
    background: #555 !important;
    color: #ddd !important;
}

.select2-drop-active,
.select2-drop.select2-drop-above.select2-drop-active,
.sp_result_area {
    border-color: rgba(0, 0, 0, .5) !important;
}

.select2-container .select2-choice .select2-arrow,
.select2-container-multi .select2-choices .select2-search-choice,
ul.sp_element_box li.selected_tag {
    border-color: #666 !important;
    background: #555 !important;
    color: #ccc !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}