
					<div class="block-flat">
						<div class="header">
							<h3>{{"磁盘分区"}}</h3>
						</div>
						<div class="content">
							<table>
                                <thead class="no-border">
									<tr>
										<th width="50">{{"编号"|T}}</th>
										<th>{{"属性名"|T}}</th>
										<th>{{"属性值"|T}}</th>
										<th>{{"属性名"|T}}</th>
										<th>{{"属性值"|T}}</th>
									</tr>
								</thead>
								<tbody>
                                    {{range $k,$v:=.Partitions}}
									<tr>
                                        <td rowspan="4" class="text-center">{{$k}}</td>
										<td>{{"设备"|T}}</td>
                                        <td>{{$v.Device}}</td>
										<td>{{"挂载点"|T}}</td>
										<td>{{$v.Mountpoint}}</td>
									</tr>
									<tr>
										<td>{{"文件系统"|T}}</td>
                                        <td>{{$v.Fstype|FormatByte}}</td>
										<td>{{"属性"|T}}</td>
										<td>{{$v.Opts}}</td>
									</tr>
                                    {{$diskUsage := index $.DiskUsages $k}}
									<tr>
										<td>{{"磁盘容量"|T}}</td>
                                        <td>{{$diskUsage.Total|FormatByte}}</td>
										<td>{{"剩余容量"|T}}</td>
										<td><span class="badge">{{$diskUsage.Free|FormatByte}}</span></td>
									</tr>
									<tr>
										<td>{{"已使用"|T}}</td>
                                        <td>{{$diskUsage.Used|FormatByte}}</td>
										<td>{{"使用百分比"|T}}</td>
										<td>{{$diskUsage.UsedPercent}} %</td>
									</tr>
                                    {{end}}
								</tbody>
							</table>
						</div>
					</div>



