
					<div class="block-flat">
						<div class="header">
							<h3>{{"基本信息"}}</h3>
						</div>
						<div class="content">
							<table>
                                <thead class="no-border">
									<tr>
										<th>{{"属性名"|T}}</th>
										<th>{{"属性值"|T}}</th>
										<th>{{"属性名"|T}}</th>
										<th>{{"属性值"|T}}</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>{{"主机名"|T}}</td>
                                        <td>{{.Host.Hostname}}</td>
										<td>{{"已运行"|T}}</td>
										<td><span class="badge">{{.Host.Uptime|FriendlyTime}}</span></td>
									</tr>
									<tr>
										<td>{{"启动时间"|T}}</td>
                                        <td>{{(Date .Host.BootTime).Format "2006-01-02 15:04:05"}}</td>
										<td>{{"进程数"|T}}</td>
										<td><span class="badge">{{.Host.Procs}}</span></td>
									</tr>
									<tr>
										<td>{{"系统"|T}}</td>
                                        <td>{{.Host.OS}}</td>
										<td>{{"平台"|T}}</td>
										<td><span class="badge">{{.Host.Platform}}</span></td>
									</tr>
									<tr>
										<td>{{"平台家族"|T}}</td>
                                        <td>{{.Host.PlatformFamily}}</td>
										<td>{{"平台版本"|T}}</td>
										<td>{{.Host.PlatformVersion}}</td>
									</tr>
									<tr>
										<td>{{"CPU"|T}}</td>
                                        <td colspan="3">
                                            {{range $k,$v:=.CPU}}
                                            {{$v.ModelName}} &nbsp;
                                            {{end}}
                                        </td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

