<div class="form-group">
                          <label class="col-sm-3 control-label">{{"扩展名"|T}}</label>
                          <div class="col-sm-9">
                             <input type="text" class="form-control" name="gzipExt">
                             <div class="help-block">{{"如有多个，用空格隔开。星号(*)代表任意扩展名"|T}}</div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-3 control-label">{{"排除路径"|T}}</label>
                          <div class="col-sm-9">
                             <input type="text" class="form-control" name="gzipNot">
                             <div class="help-block">{{"如有多个，用空格隔开"|T}}</div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-3 control-label">{{"压缩级别"|T}}</label>
                          <div class="col-sm-9">
                             <input type="number" class="form-control" value="9" name="gzipLevel" min="1" max="9">
                             <div class="help-block">{{"1(速度最快)至9(数据最小)"|T}}</div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-3 control-label">{{"压缩条件"|T}}</label>
                          <div class="col-sm-9">
                            <div class="input-group">
                             <input type="number" class="form-control" name="gzipMin_bytes" min="0">
                             <span class="input-group-addon">{{"字节(bytes)"|T}}</span>
                             </div>
                             <div class="help-block">{{"响应数据的大小只有大于这个尺寸的时候才会进行gzip压缩"|T}}</div>
                          </div>
                        </div>