<div class="form-group">
                          <label class="col-sm-3 control-label">{{"Cert文件"|T}}</label>
                          <div class="col-sm-9">
                             <input type="text" class="form-control" name="tls_cert" value="{{Form "tls_cert"}}" required="required" placeholder="{{"例如: "}}/cert.pem">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-3 control-label">{{"Key文件"|T}}</label>
                          <div class="col-sm-9">
                             <input type="text" class="form-control" name="tls_key" value="{{Form "tls_key"}}" required="required" placeholder="{{"例如: "}}/key.pem">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-3 control-label">{{"E-mail"|T}}</label>
                          <div class="col-sm-9">
                             <input type="text" class="form-control" name="tls_email" value="{{Form "tls_email"}}" placeholder="{{"例如: "}}boy@admpub.com" required="required">
                             <div class="help-block">{{"用于 Let's encrypt 生成证书"|T}}</div>
                          </div>
                        </div>