/* BEGIN Italic */
@font-face {font-display:swap;
	font-family: "Open Sans";
	@include fontdef($OpenSansPath, $OpenSansVersion, "Italic");
	font-weight: normal;
	font-style: italic;
}
/* END Italic */
