/* BEGIN Regular */
@font-face {font-display:swap;
	font-family: "Open Sans";
	@include fontdef($OpenSansPath, $OpenSansVersion, "Regular");
	font-weight: normal;
	font-style: normal;
}
/* END Regular */
