db {
  type : "mysql"
  user : "root"
  password : "root"
  host : "127.0.0.1:3306"
  database : "nging"
  prefix : ""
  debug : true
}
sys {
  sslHosts               : []
  sslCertFile            : ""
  sslKeyFile             : ""
  editableFileExtensions : {  #允许在线编辑的文件扩展名(不含点号，key为扩展名，value为文件描述)
    html      : "html"
    htm       : "html"
    js        : "javascript"
    go        : "golang"
    php       : "php"
    css       : "css"
    txt       : "txt"
    xml       : "xml"
    md        : "markdown"
    markdown  : "markdown"
    ini       : "ini"
    bat       : "bat"
    sh        : "sh"
    pl        : "pl"
    sql       : "sql"
    yaml      : "yaml"
    yml       : "yaml"
    log       : "log"
  }
  editableFileMaxSize   : "1M" #允许在线编辑的最大文件尺寸
  errorPages            : { #指定错误页面模板
    "403" : "error/403"
    "404" : "error/404"
    "500" : "error/500"
    "0"   : "error/500" #其它所有错误显示的模板
  }
  showExpirationTime    : 0 #显示过期时间：0为始终显示；大于0为距离剩余到期时间多少秒的时候显示(例如3153600表示有效期只剩1年的时候显示)；小于0为不显示
  sessionName   : "NGINGSID"
  sessionEngine : "file" #session存储引擎。可选值有：cookie / file / redis
  sessionConfig : {
    #-- file config --
    "savePath" : ""
    #-- redis config --
    "maxIdle"  : 10
    "network"  : "tcp"
    "address"  : "127.0.0.1:6379"
    "password" : ""
    "db"       : 1
  }
  disableAutoUpgradeDB : false
}
cookie {
  path     : "/"
  domain   : ""
  maxAge   : 0
  httpOnly : true
  hashKey  : "123456789012345678901234567890aa" #32位
  blockKey : "123456789012345678901234567890cc" #32位
}
language {
  Default      : "zh-cn"
  Fallback     : ""
  AllList      : ["zh-cn","en"]
  RulesPath    : ["config/i18n/rules"]
  MessagesPath : ["config/i18n/messages"]
  Reload       : true
}
extend {
  upgradeDB : {
    mySQLOnlineDDL : false
  }
  systemService : {
    maxRetries    : 10
    retryInterval : 60
    options       : {}
  }
}