db {
  type : "mysql"
  user : "root"
  password : "root"
  host : "127.0.0.1:3306"
  database : "caddyui"
  prefix : ""
  debug : true
}
log {
  debug : false
  colorable : false
  saveFile : ""
  fileMaxBytes : 0
  targets : "console"
}
sys {
  accounts : {
    admin : {
      password : "admin"
    }
  }
  sslHosts               : []
  sslCertFile            : ""
  sslKeyFile             : ""
  debug                  : true
  editableFileExtensions : {  #允许在线编辑的文件扩展名(不含点号)
    html      : "html"
    htm       : "html"
    js        : "javascript"
    go        : "golang"
    php       : "php"
    css       : "css"
    txt       : "txt"
    xml       : "xml"
    md        : "markdown"
    markdown  : "markdown"
    ini       : "ini"
    bat       : "bat"
    sh        : "sh"
    pl        : "pl"
    sql       : "sql"
    yaml      : "yaml"
    yml       : "yaml"
  }
  editableFileMaxSize   : "1M" #允许在线编辑的最大文件尺寸
  errorPages            : { #指定错误页面模板
    "404" : "error/404"
    "500" : "error/500"
    "0"   : "error/other" #其它所有错误显示的模板
  }
}
cookie {
  path     : "/"
  domain   : ""
  maxAge   : 0
  httpOnly : true
  hashKey  : "123456789012345678901234567890aa" #32位
  blockKey : "123456789012345678901234567890cc" #32位
}
ftp {
  pidFile        : ""
  ###########暂时无效################
	#dbType         : ""
	#ftpStoreType   : ""
	#ftpOptions     : ""
  ###########################
  name           : ""
  hostName       : ""
  publicIP       : ""
  passivePorts   : ""
  port           : 233
	tls            : false
	certFile       : ""
  keyFile        : ""
	explicitFTPS   : false
	welcomeMessage : ""
}