{{Strip}}
<link rel="stylesheet" href="{{AssetsURL}}/js/float/powerFloat.min.css?t={{BuildTime}}" charset="utf-8" />
<link rel="stylesheet" href="{{AssetsURL}}/js/dropzone/dropzone.min.css?t={{BuildTime}}" />
<link rel="stylesheet" href="{{AssetsURL}}/js/videojs/video-js.min.css?t={{BuildTime}}" />
<!-- codemirror -->
<link rel="stylesheet" href="{{AssetsURL}}/js/editor/markdown/lib/codemirror/codemirror.min.css?t={{BuildTime}}">
<link rel="stylesheet" href="{{AssetsURL}}/js/editor/markdown/lib/codemirror/addon/display/fullscreen.css?t={{BuildTime}}">
<link rel="stylesheet" href="{{AssetsURL}}/js/editor/markdown/lib/codemirror/theme/night.css?t={{BuildTime}}">
<script src="{{AssetsURL}}/js/editor/markdown/lib/codemirror/codemirror.min.js?t={{BuildTime}}"></script>
<script src="{{AssetsURL}}/js/editor/markdown/lib/codemirror/addon/mode/loadmode.js?t={{BuildTime}}"></script>
<script src="{{AssetsURL}}/js/editor/markdown/lib/codemirror/mode/meta.min.js?t={{BuildTime}}"></script>
<script src="{{AssetsURL}}/js/editor/markdown/lib/codemirror/addon/display/fullscreen.js?t={{BuildTime}}"></script>
{{/Strip}}