<div class="page-aside app tree">
    <div class="fixed nano nscroller">
        <div class="content">
            <div class="header">
                <button class="navbar-toggle" data-target=".treeview" data-toggle="collapse" type="button">
                    <span class="fa fa-chevron-down"></span>
                </button>
                <h2 class="page-title">{{`文件管理`|$.T}}</h2>
                <p class="description">{{$.Stored.rootPath}}</p>
            </div>
            <ul class="nav nav-list treeview collapse">
                <li><label class="tree-toggler nav-header"><i class="fa fa-folder-o"></i> General</label>
                    <ul class="nav nav-list tree">
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><label class="tree-toggler nav-header"><i class="fa fa-folder-o"></i> Structure</label>
                            <ul class="nav nav-list tree">
                                <li><a href="#">Link</a></li>
                                <li><a href="#">Link</a></li>
                                <li><label class="tree-toggler nav-header"><i class="fa fa-folder-o"></i>
                                        Plugins</label>
                                    <ul class="nav nav-list tree">
                                        <li><a href="#">Link</a></li>
                                        <li><a href="#">Link</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><label class="tree-toggler nav-header"><i class="fa fa-folder-o"></i> Documentation</label>
                    <ul class="nav nav-list tree">
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><label class="tree-toggler nav-header"><i class="fa fa-folder-o"></i> Components</label>
                            <ul class="nav nav-list tree">
                                <li><a href="#">Link</a></li>
                                <li><a href="#">Link</a></li>
                                <li><label class="tree-toggler nav-header"><i class="fa fa-folder-o"></i> Speech
                                        API</label>
                                    <ul class="nav nav-list tree">
                                        <li><a href="#">Link</a></li>
                                        <li><a href="#">Link</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><label class="tree-toggler nav-header"><i class="fa fa-folder-o"></i> Charts</label>
                            <ul class="nav nav-list tree">
                                <li><a href="#">Link</a></li>
                                <li><a href="#">Link</a></li>
                                <li><label class="tree-toggler nav-header"><i class="fa fa-folder-o"></i>
                                        Reports</label>
                                    <ul class="nav nav-list tree">
                                        <li><a href="#">Link</a></li>
                                        <li><a href="#">Link</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
</div>