{{$op := Form "operation"}}
{{$tp := Form "type"}}
        <div class="block-flat md-margin-bottom">
            {{if or (eq $op "listDb") (eq $op "")}}
            <a href="javascript:;" class="btn btn-success" id="create-db" data-pjax="#pcont" data-keepjs="true">
                <i class="fa fa-plus"></i>
                {{"创建数据库"|T}}
            </a>
            {{else}}
            <a href="{{dbMgrURL "listDb"}}" class="btn btn-default" id="privileges" data-pjax="#pcont" data-keepjs="true">
                <i class="fa fa-list"></i>
                {{"数据库列表"|T}}
            </a>
            {{end}}
            <a href="{{dbMgrURL "privileges"}}" class="btn btn-{{if eq $op "privileges"}}primary{{else}}default{{end}}" id="privileges" data-pjax="#pcont" data-keepjs="true">
                <i class="fa fa-list"></i>
                {{"权限"|T}}
            </a>
            <a href="{{dbMgrURL "processList"}}" class="btn btn-{{if eq $op "processList"}}primary{{else}}default{{end}}" id="process-list" data-pjax="#pcont" data-keepjs="true">
                <i class="fa fa-list"></i>
                {{"进程列表"|T}}
            </a>
            <a href="{{dbMgrURL "info"}}&type=variables" class="btn btn-{{if and (eq $op "info") (eq $tp "variables")}}primary{{else}}default{{end}}" id="info-variables" data-pjax="#pcont" data-keepjs="true">
                <i class="fa fa-list"></i>
                {{"变量"|T}}
            </a>
            <a href="{{dbMgrURL "info"}}&type=status" class="btn btn-{{if and (eq $op "info") (eq $tp "status")}}primary{{else}}default{{end}}" id="info-status" data-pjax="#pcont" data-keepjs="true">
                <i class="fa fa-list"></i>
                {{"状态"|T}}
            </a>
        </div>

{{Include "db/mysql/results"}}