{{Strip}}{{Extend "base"}}
{{Block "description"}}{{.title}}{{/Block}}
{{Block "title"}}{{"错误"|$.Func.T}}{{/Block}}
{{Block "bodyAttr"}} class="texture"{{/Block}}
{{Block "main"}}
<div id="cl-wrapper" class="forgotpassword-container">
<div class="middle">
	<div class="block-flat">
		<div class="header">
			<h3 class="text-center">
				<i class="fa fa-warning"></i> 
				{{"系统消息"|$.Func.T}}
			</h3>
		</div>
		<div>
			<div class="content">
				<h4 class="title text-center"><strong>{{"非常抱歉，操作出错了"|$.Func.T}}</strong></h4>
				{{if .panic}}
				<pre id="panic-content">{{.content}}</pre>
				{{else}}
				<p class="text-center"><i class="fa fa-lightbulb-o"></i> {{.content}}</p>
				{{end}}
				<hr/>
				<!-- <p class="spacer text-center">{{"如果您发现程序有异常，请联系我们修复。"|$.Func.T}} <a href="#">{{"联系我们"|$.Func.T}}</a></p> -->
				<div class="row">
				<div class="btn-group col-sm-12">
					<a class="btn btn-primary btn-rad btn-lg col-sm-6" href="javascript:;" onclick="history.back()">
						<i class="fa fa-reply"></i>
						{{"回到上一页"|$.Func.T}}
					</a>
					<a class="btn btn-success btn-rad btn-lg col-sm-6" href="/">
						<i class="fa fa-home"></i>
						{{"回到首页"|$.Func.T}}
					</a>
				</div>
				</div>
			</div>
		</div>
	</div>
	<div class="text-center out-links">
		<a href="https://github.com/admpub/nging" target="_blank">&copy; {{Now.Year}} {{Version}}</a>
	</div>
</div>
</div>
{{/Block}}
{{Block "footer"}}
<script type="text/javascript" src="{{AssetsURL}}/js/behaviour/sprintf.min.js"></script>
<script type="text/javascript" src="{{AssetsURL}}/js/behaviour/general.min.js"></script>
{{/Block}}
{{Block "tracker"}}{{$trackerURL := TrackerURL}}
{{- if and $trackerURL .panic -}}
<script type="text/javascript">
$(function(){App.reportBug('{{$trackerURL}}');});
</script>
{{- end -}}
{{/Block}}
{{/Strip}}
