{{Strip}}
<link rel="stylesheet" href="__ASSETS__/js/dropzone/min/dropzone.min.css" />
<link rel="stylesheet" href="__ASSETS__/js/videojs/video-js.min.css" />
<!-- codemirror -->
<link rel="stylesheet" href="__ASSETS__/js/codemirror/lib/codemirror.min.css">
<link rel="stylesheet" href="__ASSETS__/js/codemirror/addon/display/fullscreen.css">
<link rel="stylesheet" href="__ASSETS__/js/codemirror/theme/night.css">
<script src="__ASSETS__/js/codemirror/lib/codemirror.min.js"></script>
<script src="__ASSETS__/js/codemirror/addon/mode/loadmode.js"></script>
<script src="__ASSETS__/js/codemirror/mode/meta.js"></script>
<script src="__ASSETS__/js/codemirror/addon/display/fullscreen.js"></script>
{{/Strip}}