{{Strip}}
{{Modal "__TMPL__/caddy/file.yaml"}}
{{Modal "__TMPL__/caddy/file_zip.yaml"}}
{{Modal "__TMPL__/caddy/file_edit.yaml"}}
{{Modal "__TMPL__/caddy/file_rename.yaml"}}
{{Modal "__TMPL__/caddy/file_mkdir.yaml"}}
{{Modal "__TMPL__/caddy/file_play.yaml"}}
<script type="text/javascript" src="__ASSETS__/js/float/powerFloat.min.js?t={{BuildTime}}"></script>
<script type="text/javascript" src="__ASSETS__/js/dropzone/min/dropzone.min.js"></script>
<script type="text/javascript" src="__ASSETS__/js/videojs/video.min.js"></script>
<script type="text/javascript" src="__ASSETS__/js/videojs/http-streaming.min.js"></script>
<!-- <script type="text/javascript" src="__ASSETS__/js/videojs/mux.min.js"></script>
<script type="text/javascript" src="__ASSETS__/js/behaviour/page/video-ts.js"></script> -->
<script type="text/javascript">
App.i18n.SAVE_SUCCEED='{{"保存成功"|T}}';
App.i18n.CREATE_SUCCEED='{{"创建成功"|T}}';
App.i18n.CREATE_DIR='{{"创建文件夹"|T}}';
App.i18n.MODIFY_DIRNAME='{{"修改文件夹名"|T}}';
App.i18n.MODIFY_FILENAME='{{"修改文件名"|T}}';
App.i18n.EDIT_FILE='{{"编辑文件"|T}}';
App.i18n.PLAY='{{"播放"|T}}';
App.i18n.SELECTED_ITEMS='{{"您已经选择了%d条数据"|T}}';
</script>
{{/Strip}}