{{$pjax := Form "_pjax"}}
<ul class="pagination" disabled-fixed>
    {{$position := .Position}}
    {{$prev := .PrevPosition}}
    <li class="prev{{if eq $prev "0"}} disabled{{end}}">
        <a href="{{.URL 0}}"{{if $pjax}} data-pjax="{{$pjax}}" data-keepjs="true"{{end}}>
            <span class="fa fa-angle-left"></span>&nbsp;{{"第一页"|T}}
        </a>
    </li>
    <li class="next{{if eq $position "0"}} disabled{{end}}">
        <a href="{{.URL $position}}"{{if $pjax}} data-pjax="{{$pjax}}" data-keepjs="true"{{end}}>
            {{"下一页"|T}}&nbsp;<span class="fa fa-angle-right"></span>
        </a>
    </li>
</ul>
