{{- if Stored.topicList -}}
<div class="page-aside app tree sm-width">
	<button class="navbar-toggle no-margin wd-100p" data-target="#body-left-navigate" data-toggle="collapse" type="button">
	  <span class="fa fa-chevron-down"></span>
	</button>
    <div class="fixed nano nscroller responsive-nav collapse" id="body-left-navigate">
        <div class="content">
        	<div class="app-nav md-line-height no-margin-top">
				<p class="title">{{`警报专题`|T}}</p>
          		<ul class="nav nav-pills nav-stacked">
				{{- $topic := Form `topic` -}}
              	{{- range $key, $row := Stored.topicList -}}
              		<li class="primary-active{{if eq $topic $row.K}} active{{end}}">
                	<a href="__BACKEND__/manager/alert_topic?topic={{$row.K}}" title="{{$row.V}}" data-pjax="#main-container" data-keepjs="true">{{$row.V}}</a>
              		</li>
              	{{- end -}}
          		</ul>
        	</div><!-- .app-nav -->
        </div><!-- .content -->
    </div>
</div>
{{- end -}}