<div class="page-aside app tree sm-width">
    <a class="label label-primary collapsed-button"><i class="fa fa-angle-double-right"></i></a>
	<button class="navbar-toggle no-margin wd-100p" data-target="#body-left-navigate" data-toggle="collapse" type="button">
	  <span class="fa fa-chevron-down"></span>
	</button>
    <div class="fixed nano nscroller responsive-nav collapse" id="body-left-navigate">
        <div class="content">
        	<div class="app-nav md-line-height no-margin-top">
				<p class="title">{{`元数据类型`|T}}</p>
          		<ul class="nav nav-pills nav-stacked">
				{{- $type := Form `type` -}}
              	{{- range $key, $row := Stored.typeList -}}
              		<li class="primary-active{{if eq $type $row.Key}} active{{end}}">
                	<a href="__BACKEND__/manager/kv?type={{$row.Key}}" title="{{$row.Value}}" data-pjax="#main-container" data-keepjs="true">{{$row.Value}}</a>
              		</li>
              	{{- end -}}
          		</ul>
        	</div><!-- .app-nav -->
        </div><!-- .content -->
    </div>
</div>