{{Extend "layout"}}
{{Block "title"}}{{"系统设置"|T}}{{/Block}}
{{Block "breadcrumb"}}
{{Super}}
<li class="active">{{"系统设置"|T}}</li>
{{/Block}}

{{Block "bodyNav"}}
{{Include "manager/settings_body_nav"}}
{{/Block}}

{{Block "head"}}
<link rel="stylesheet" type="text/css" href="{{AssetsURL}}/js/selectpage/selectpage.css?t={{BuildTime}}" />
<link rel="stylesheet" href="{{AssetsURL}}/js/jquery.crop/css/jquery.Jcrop.min.css?t={{BuildTime}}" type="text/css" />
<link rel="stylesheet" href="{{AssetsURL}}/js/jquery.uploadPreviewer/css/jquery.uploadPreviewer.min.css?t={{BuildTime}}" type="text/css" />
<link rel="stylesheet" href="{{AssetsURL}}/js/float/powerFloat.min.css?t={{BuildTime}}" charset="utf-8" />
<link rel="stylesheet" href="{{AssetsURL}}/js/intro/introjs.min.css?t={{BuildTime}}" charset="utf-8" />
{{- range $k,$v := Stored.settings -}}
  {{- if eq Stored.group $v.Group -}}
    {{- range $i, $t := $v.HeadTmpl -}}
      {{- if $t -}}{{Fetch $t $}}{{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{/Block}}
{{Block "main"}}
{{Strip}}
{{$config := Stored.config}}
{{$group := Stored.group}}
<div class="row">
    <div class="col-md-12">
        <div class="tab-container">
            <!-- {{/*<ul class="nav nav-tabs">
            {{- range $k,$v := Stored.settings -}}
              <li{{if eq $group $v.Group}} class="active"{{end}}>
                <a href="?group={{$v.Group}}">{{$v.Short|T}}</a>
                < !-- <a href="?group={{$v.Group}}" data-toggle="tab">{{$v.Short|T}}</a> -- >
              </li>
            {{- end -}}
            </ul>*/}} -->
            <form class="form-horizontal group-border-dashed" method="POST" action="">
            <div class="tab-content">
            {{range $k,$v := Stored.settings}}
            {{if eq $group $v.Group}}
              <div class="tab-pane cont{{if eq $group $v.Group}} active{{end}}" id="{{$v.Group}}">
                    <h3 class="hthin">
                      <span class="label label-default label-xs normal pull-right">{{$v.Group}}</span>
                      {{$v.Label|T}}
                    </h3>
                    {{- $v.Render Context -}}
              </div>
            {{end}}
            {{end}}
              <div class="form-group form-submit-group">
                  <div class="col-sm-9 col-sm-offset-2">
                    <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-save"></i> {{"保存"|T}}</button>
                    <button type="reset" class="btn btn-default btn-lg"><i class="fa fa-refresh"></i> {{"重置"|T}}</button>
                  </div>
              </div>
            </div>
            </form>
        </div>
    </div>
</div>
{{/Strip}}
{{/Block}}
{{Block "footer"}}
<script src="{{AssetsURL}}/js/float/powerFloat.min.js?t={{BuildTime}}"></script>
<script src="{{AssetsURL}}/js/jquery.uploadPreviewer/jquery.uploadPreviewer.min.js?t={{BuildTime}}"></script>
<script src="{{AssetsURL}}/js/selectpage/selectpage.min.js?t={{BuildTime}}" type="text/javascript"></script>
<script src="{{AssetsURL}}/js/jquery.upload/js/vendor/jquery.ui.widget.min.js?t={{BuildTime}}"></script>
<script type="text/javascript" src="{{AssetsURL}}/js/jquery.crop/js/jquery.Jcrop.min.js?t={{BuildTime}}"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="{{AssetsURL}}/js/jquery.upload/js/jquery.iframe-transport.min.js?t={{BuildTime}}"></script>
<!-- The basic File Upload plugin -->
<script src="{{AssetsURL}}/js/jquery.upload/js/jquery.fileupload.min.js?t={{BuildTime}}"></script>
<script src="{{AssetsURL}}/js/loader/loader.min.js?t={{BuildTime}}"></script>
<script src="{{AssetsURL}}/js/editor/editor.min.js?t={{BuildTime}}"></script>
<script src="{{AssetsURL}}/js/intro/intro.min.js?t={{BuildTime}}"></script>
{{- range $k,$v := Stored.settings -}}
  {{- if eq Stored.group $v.Group -}}
    {{- range $i, $t := $v.FootTmpl -}}
      {{- if $t -}}{{Fetch $t $}}{{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
<script type="text/javascript">
var focusInputName = '{{Form `focusName`}}';
$(function(){
  App.editor.xheditors('#pcont .html-editor');
  App.editor.tinymces('#pcont .html-editor-tinymce');
  App.editor.markdowns('#pcont .html-editor-markdown');
  App.editor.fileInput();
  $("#body-left-navigate.nscroller:not(.has-scrollbar)").nanoScroller();
  function getTmplTag(name){
    if(!/\[value\]$/.test(name)){
      name=name.replace(/\]\[value\]\[/,'.');
    }else{
      name=name.replace(/\]\[value\]$/,'');
    }
    name=name.replace(/\]\[/g,'.');
    name=name.replace(/\]|\[/g,'.');
    name=name.replace(/\.$/g,'');
    return '{'+'{Config.'+name+'}'+'}';
  }
  if(focusInputName&&focusInputName.indexOf('"')==-1 && $('[name="'+focusInputName+'"]').length>0) {
    $('[name="'+focusInputName+'"]').focus();
    var steps = [{element:'[name="'+focusInputName+'"]',intro:"{{`设置它`|T}}"}];
    introJs().setOptions({showButtons:false,showBullets:false,showStepNumbers:false,steps:steps}).start();
  }
  $('#pcont .cl-mcont form [name*="[value]"]').each(function(){
    if($(this).parent('.input-group').length>0){
      var e = $(this).parent('.input-group');
      if(e.prev('.input-group-addon').length>0){
        e.prev('.input-group-addon').attr('data-toggle','tooltip').attr('title',getTmplTag($(this).attr('name'))).tooltip();
        return;
      }
    }
    if($(this).closest('div[class*="col-"]').length>0){
      var e = $(this).closest('div[class*="col-"]');
      if(e.prev('.control-label').length>0){
        e.prev('.control-label').attr('data-toggle','tooltip').attr('title',getTmplTag($(this).attr('name'))).tooltip();
        return;
      }
    }
    if($(this).closest('.form-group').length>0){
      var e = $(this).closest('.form-group');
      if(e.children('.control-label').length>0){
        e.children('.control-label').attr('data-toggle','tooltip').attr('title',getTmplTag($(this).attr('name'))).tooltip();
        return;
      }
    }
  });
});
</script>
{{/Block}}