{{Extend "layout"}}
{{Block "title"}}{{"进程列表"|T}}{{/Block}}
{{Block "breadcrumb"}}
{{Super}}
<li class="active">{{"进程列表"|T}}</li>
{{/Block}}
{{Block "main"}}
<div class="row">
				<div class="col-md-12">
					<div class="block-flat">
						<div class="header">
                            <span class="pull-right" id="processes-buttons">
                            {{- if not Stored.quering -}}
                            {{if Stored.isCached}}{{`快照来自`|T}}{{else}}{{`查询时间`|T}}{{end}}: {{Stored.lastQueryTime.Format `2006-01-06 15:04:05`}}
                            {{if Stored.isCached}}<a class="btn btn-warning" href="{{BackendURL}}/server/processes?force=1">{{`强制更新快照`|T}}</a>{{end}}
                            {{- end -}}
                            </span>
							<h3>{{"进程列表"|T}}</h3>
						</div>
						<div class="content">
							<div class="table-responsive" id="table-container">
                                <table class="table no-border hover">
                                    <colgroup>
                                    <col style="width:80px" />
                                    <col style="width:80px" />
                                    <col />
                                    <col style="width:60px" />
                                    <col style="width:60px" />
                                    <col style="width:60px" />
                                    <col style="width:60px" />
                                    <col style="width:133px" />
                                    <col style="width:100px" />
                                    <col style="width:60px" />
                                    <col style="width:60px" />
                                    </colgroup>
                                    <thead class="no-border auto-fixed" sort-current="{{Form `sort` `id`}}"><!-- sort-setto="#tbody-container" sort-url="{{URL.Path}}?partial=1" -->
                                        <tr>
                                            <th sort="id"><strong>ID</strong></th>
                                            <th><strong>父ID</strong></th>
                                            <th><strong>{{"名称"|T}}</strong></th>
                                            <th sort="-cpu"><strong>{{"CPU"|T}}</strong>(%)</th>
                                            <th sort="-mem"><strong>{{"内存"|T}}</strong>(%)</th>
                                            <th sort="-thread"><strong>{{"线程"|T}}</strong></th>
                                            <th sort="-fd"><strong>{{"FD"|T}}</strong></th>
                                            <th sort="-created"><strong>{{`启动时间`|T}}</strong></th>
                                            <th><strong>{{`启动用户`|T}}</strong></th>
                                            <th><strong>{{"状态"|T}}</strong></th>
                                            <th class="text-center"><strong>{{"操作"|T}}</strong></th>
                                        </tr>
                                    </thead>
                                    <tbody class="no-border-y" id="tbody-container">
                                    {{Include "server/processes_list_partial"}}
								    </tbody>
							    </table>
							</div>
						</div>
					</div>				
				</div>
			</div>
{{/Block}}
{{Block "footer"}}
<script>
function killSubmit(pid){
    $.get(BACKEND_URL+'/server/procskill/'+pid,{},function(r){
        var td=$('td[data-pid="'+pid+'"]');
         if(r.Code==1){
            App.message({title: '{{"系统提示"|T}}', text: '{{"操作成功"|T}}', class_name:'success'});
            td.parent('tr').remove();
         }else{
            App.message({title: '{{"出错了"|T}}', text: r.Info, class_name:'danger'});
         }
    },'json');
}
function kill(pid,name) {
    if(!confirm('{{"确定要关闭"|T}}: '+name+' ?\n{{"警告！如果操作不当，可能会导致系统关闭！"|T}}'))return;
    killSubmit(pid);
}
//{{if Stored.quering}}
function checkQuering(){
    $.get(BACKEND_URL+'/server/processes',{status:1},function(r){
        if(r.Code!=1) return App.message({title: '{{"出错了"|T}}', text: r.Info, class_name:'danger'});
        if(r.Data.quering) {
            window.setTimeout(checkQuering,3000);
            return;
        }
        $.get('{{URL.Path}}',{partial:1},function(r){
            if(r.Code!=1) return App.message({text:r.Info,type:'error'});
            $('#tbody-container').html(r.Data.html);
            $(window).trigger('resize');
        },'json');
        $('#processes-buttons').html('{{`查询时间`|T}}: '+r.Data.queryTime+' <a class="btn btn-warning" href="{{URL.Path}}?force=1">{{`强制更新快照`|T}}</a>');
    },'json');
}
//{{end}}
$(function(){
App.tableSorting('#table-container');
//{{if Stored.quering}}
checkQuering();
//{{end}}
});
</script>
{{/Block}}