<div class="block-flat">
						<div class="header">							
							<h3>{{"任务："|T}}<a href="/task/edit?id={{Stored.task.Id}}">{{Stored.task.Name}}(#{{Stored.task.Id}})</a></h3>
						</div>
						<div class="content">
              {{$v := Stored.task}}
              {{"操作"|T}}:
              {{$extra := Stored.extra}}
              {{if $extra.Running}}
                   <a class="label label-success" title="{{"暂停"|T}}" href="/task/pause?id={{$v.Id}}&returnTo={{URL.Path}}"><i class="fa fa-pause"></i></a>
              {{else}}
										<a class="label label-danger" href="/task/start?id={{$v.Id}}&returnTo={{URL.Path}}" title="{{"启动"|T}}"><i class="fa fa-play"></i></a>
										<a class="label label-info" href="/task/run?id={{$v.Id}}" onclick="return confirm('{{"该功能建议只用来做任务测试，确定要立即执行该任务吗？"|T}}')" title="{{"运行"|T}}"><i class="fa fa-refresh"></i></a>
              {{end}}
              <br />
							{{"实例数量"|T}}: {{if eq $v.Concurrent 0}}{{"多实例"|T}}{{else}}{{"单实例"|T}}{{end}}<br />
							{{"超时时间"|T}}: {{if eq $v.Timeout 0}}{{"默认"|T}}(24h){{else}}{{$v.Timeout}}s{{end}}<br />
							{{"任务时间"|T}}: {{$v.CronSpec}}<br />
							{{"运行次数"|T}}: {{$v.ExecuteTimes}}<br />
							{{"上次执行"|T}}: {{$v.PrevTime|Ts2date "2006-01-02 15:04:05"}}<br />
							{{"创建时间"|T}}: {{$v.Created|Ts2date "2006-01-02 15:04:05"}}<br />
							{{"通知邮件"|T}}: {{if eq $v.EnableNotify 0}}
              {{"不通知"|T}}
              {{else if eq $v.EnableNotify 1}}
              {{"执行结束时通知"|T}}
              {{else if eq $v.EnableNotify 2}}
              {{"执行失败时通知"|T}}
              {{end}}<br />
              <h4>{{"邮件抄送"|T}}</h4>
							<p><pre>{{$v.NotifyEmail}}</pre></p>
              <h4>{{"命令"|T}}</h4>
							<p><pre>{{$v.Command}}</pre></p>
              <h4>{{"描述"|T}}</h4>
							<p><pre>{{$v.Description}}</pre></p>
						</div>
					</div>